# Copyright (c) 2011, webvariants GbR, http://www.webvariants.de
#
# This file is released under the terms of the MIT license. You can find the
# complete text in the attached LICENSE file or online at:
#
# http://www.opensource.org/licenses/mit-license.php

RewriteEngine On
# RewriteBase /

# Single-Domain
# RewriteCond %{HTTP_HOST} ^example\.de$
# RewriteRule ^(.*)$ http://www.example.de/$1 [R=301,L]

# Sally Backend
RewriteRule ^backend/?$        sally/backend/ [L,QSA]
RewriteRule ^backend/(.*)$     sally/backend/$1 [L,QSA]

# Assets Cache
RewriteCond %{REQUEST_FILENAME}  \.(css|js|gif|jpg|jpeg|png|swf|ico|pdf)$
RewriteCond %{REQUEST_URI}       !wym_styles.css$
RewriteRule ^(.*)$               sally/data/dyn/public/sally/static-cache/$1 [L]
