# Copyright (c) 2010, webvariants GbR, http://www.webvariants.de
#
# This file is released under the terms of the MIT license. You can find the
# complete text in the attached LICENSE file or online at:
#
# http://www.opensource.org/licenses/mit-license.php

RewriteEngine On
# RewriteBase /

# Single-Domain
# RewriteCond %{HTTP_HOST} ^example\.de$
# RewriteRule ^(.*)$ http://www.example.de/$1 [R=301,L]

# REDAXO-Rewrites (X-Y-Artikel.html)
RewriteRule ^([0-9]*)-([0-9]*)- index.php?article_id=$1&clang=$2&%{QUERY_STRING}
RewriteRule ^([0-9]*)- index.php?article_id=$1&%{QUERY_STRING}

# Image Resize
RewriteCond %{REQUEST_URI} ^/imageresize/(.*)
RewriteCond %{DOCUMENT_ROOT}/data/dyn/public/image_resize/image_resize__$1 -f
RewriteRule ^imageresize/(.*)$ data/dyn/public/image_resize/image_resize__$1 [L]

RewriteRule ^imageresize/(.*)$ index.php?rex_resize=$1 [L]

# Deployer-AddOn (>= 2.0)
RewriteRule ^assets/js/([0-9a-f]{6})\.[0-9a-f]+\.min\.js$   gzip.php?file=data/dyn/public/deployer/compressed_$1.js&forever=1 [L]
RewriteRule ^assets/css/([0-9a-f]{6})\.[0-9a-f]+\.min\.css$ gzip.php?file=data/dyn/public/deployer/compressed_$1.css&forever=1 [L]

# Scaffold für alle Frontend-CSS-Dateien
RewriteCond %{REQUEST_FILENAME}  -f
RewriteCond %{REQUEST_URI}       \.css$
RewriteCond %{REQUEST_URI}       !wym_styles.css$
RewriteRule assets/css/(.+)$     sally/scaffold.php?f=assets/css/$1&%{QUERY_STRING} [L]

# Komprimierung fuer statischen Content
RewriteRule ^(assets/.*\.(css|js))$  gzip.php?file=$1 [L]
