/* Sprites */

.sly-sprite.sly-sprite {
	&-addon  { background-position: 0 -32px;     }
	&-plugin { background-position: -32px -32px; }
}

.sly-addonlist {
	tr.sly-addon {
		&.sly-installed td, &.sly-not-installed td {
			background: #e0e0e0;
			color: #aca9a9;
		}

		&.sly-activated td { background: #fff; }
	}

	tr.sly-plugin.sly-activated td     { background: #fff; }
	tr.sly-plugin.sly-installed td     { background: #e0e0e0; }
	tr.sly-plugin.sly-not-installed td { background: #aca9a9; }

	tr.sly-addon .is-help {
		border-bottom: 1px dotted #777;
		cursor: help;
	}
}
