*, .rex-nospace {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

img {
	vertical-align: bottom;
}

a {
	color: #f2353a;
	text-decoration: none;

	&:hover { text-decoration: underline; }
}

body div#rex-output {
	a.rex-active, a.rex-subpage-active { color: #000; }
}

.rex-lgnd a {
	color: #32353a;
	&:hover { text-decoration: none; }
}

li {
	list-style-type: none;
}

div, p {
	background-repeat: no-repeat;
}

.rex-clearer {
	display: block;
	clear: both;
	line-height: 0em;
	height: 1px;
	font-size: 0;
	visibility: hidden;
}

.rex-clear {
	clear: both;
}

.rex-hide {
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
}

caption.rex-hide {
	display: none;
}

legend.rex-hidden {
	display: none;
}

.rex-flLeft {
	float: left;
	margin-right: 10px;
}

.rex-flRight {
	float: right;
	margin-left: 10px;
}

.rex-strike        { text-decoration: line-through; }
.rex-txt-algn-cntr { text-align: center;            }
.rex-strng         { font-weight: bold;             }

/*	rex-warning */

div#rex-output {
	.rex-message {
		clear: both;
		width: 100%;
		margin: 0 0 10px 0;
		padding: 8px 0px;
		font-weight: bold;

		span {
			display: block;
			padding: 0 45px;
		}
	}

	.rex-warning {
		background: #FAE9E5 url(../media/warning.gif) 0% 50% no-repeat;
		color: #EA1144;
	}

	.rex-info {
		background: #D2EFD9 url(../media/excla_mark_green.gif) 0% 50% no-repeat;
		color: #107C2C;
	}

	div.rex-cnt-editmode div.rex-cnt-editmode-slc .rex-message {
		padding: 0;
	}
}

body#rex-page-mediapool div#rex-output .rex-message {
	margin-bottom: 2px;
}

body#rex-page-content div#rex-output .rex-message,
div#rex-output div.rex-cnt-editmode div.rex-cnt-editmode-slc .rex-message {
	margin-bottom: 0;
}

table .rex-message {
	margin: 0;
}

div#rex-output div {
	&.rex-message-blck {
		clear: both;
		margin: 0 0 10px 0;
		padding: 8px 45px;
		line-height: 1.6;

		ol { margin-left: 20px; li { list-style-type: decimal; } }
		ul { margin-left: 15px; li { list-style-type: square;  } }
	}

	&.rex-warning-blck {
		background-color: #FAE9E5;
		color: #EA1144;
	}

	&.rex-info-blck {
		background-color: #D2EFD9;

		&, a {
			color: #107C2C;
		}
	}
}

h2, h3, h4, h5, h6 { font-size: 1em; }
h2 { margin-bottom: 1.2em; }

.rex-cnt-slc-otp {
	h1 { font-size: 2.0em; }
	h2 { font-size: 1.6em; margin-bottom: 0; }
	h3 { font-size: 1.4em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1.0em; }
}

/*	Font Metrics
*******************************************************************************/

input, select, textarea {
	padding: 1px;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
}

div#rex-title {
	h1    { line-height: 2.3em; font-size: 1.3em; }
	ul, p { line-height: 3em; }
}

div#rex-clang ul, div.rex-cnt-hdr ul {
	line-height: 3em;
}

/*	Color Properties
*******************************************************************************/

.rex-ok, .rex-online, div#rex-lmp ul li a.rex-online {
	color: #3ec94a;
}

.rex-offline, div#rex-lmp ul li a.rex-offline {
	color: #aa0000;
}

.rex-nice    { color: #3a3;    }
.rex-error   { color: #c33;    }
.rex-clr-grn { color: #478c44; }
.rex-clr-red { color: #ea1144; }

div#rex-clang, div.rex-cnt-hdr, div.rex-cnt-cols {
	background-color: #f0efeb;
}

div.rex-cnt-bdy {
	background-color: #faf9f5;
}

/*	General
*******************************************************************************/

body {
	margin: 8px;
	color: #32353a;
	font-family: verdana, arial, sans-serif;
	font-size: 62.5%;
}

/*	Header / Footer
*******************************************************************************/

div#rex-hdr, div#rex-ftr {
	float: left;
	width: 770px;
}

div#rex-hdr {
	p.rex-hdr-top {
		padding: 5px;
		background: #f0efeb;
		text-align: right;
	}

	div {
		float: left;
		width: 100%;
		padding: 5px 0;
		background: #aab9a8;
	}
}

div#rex-ftr {
	clear:both;
	margin-top:10px;
	padding:5px 0;
	background:#f0efeb;
	border-top:20px solid #aab9a8;
	margin-bottom:10px;
}

body#rex-page-mediapool, body#rex-page-linkmap {
	div#rex-hdr {
		&, div ul { width: 100%; }
	}

	div#rex-ftr {
		width: 100%;
		margin-bottom: 8px;
	}
}

div#rex-hdr div, #rex-ftr {
	ul {
		float: left;
		display: inline;
		width: 70%;
		margin: 0 5px;
	}

	li {
		display: inline;
		color: #fff;
	}

	p {
		float: right;
		display: inline;
		margin: 0 5px;
	}
}

div#rex-ftr {
	li, li a { color: #000; }
}

div#rex-hdr div {
	li a, p a {
		color: #fff;
		font-weight: bold;
	}
}

/*	Content
*******************************************************************************/

div#rex-wrapper {
	position: relative;
	float: left;
	clear: both;
	width: 770px;
	margin-bottom: 0px;
}

body#rex-page-mediapool body#rex-page-linkmap {
	div#rex-wrapper { width: 100%; }
}

div#rex-output {
	float: left;
	width: 100%;
	margin-top: 10px;
	
	p.rex-hdl {
		clear: both;
		background: #d7d6d3;
		font-weight: bold;
	}
}

div {
	&.rex-mdl-inp {
		clear: both;
		padding: 10px;
	}
	
	&.rex-cnt-cols {
		float: left;
		width: 100%;
	}
}

div, p {
	&.rex-cnt-col2 {
		float: left;
		width: 49.9%;
		width: 50%;
	}
}

/*	Title
*******************************************************************************/

div#rex-title {
	margin-top: 10px;
	height: 61px;
	background: #f0efeb url(../media/logo.jpg) 100% 50% no-repeat;
}

html>body div#rex-title {
	height: auto;
	min-height: 61px;
}

body#rex-page-mediapool, body#rex-page-linkmap {
	div#rex-title {
		background: none;
		background-color: #f0efeb;
	}
}

/* start single-row */

body#rex-page-linkmap div#rex-title {
	height: 31px;
	
	p { display: none; }
}

html>body#rex-page-linkmap div#rex-title {
	height: auto;
	min-height: 31px;
}

/*	end single-row */

div.rex-title-row {
	width: 617px;
}

body#rex-page-mediapool, body#rex-page-linkmap {
	div.rex-title-row {
		width:100%;
	}
}

div#rex-title {
	h1, ul, p {
		padding-left: 7px;
		border-bottom: 1px solid #fff;
		color: #32353a;
	}
}

div.rex-cnt-bdy {
	clear: both;
	padding: 1px 153px 0 39px;
}

/*	Listen
*******************************************************************************/
/*
	div#rex-title ul weiter oben noch def.
*/

div#rex-clang,
div.rex-cnt-hdr {
	padding-left: 39px;
	margin-bottom: 10px;
}

div.rex-cnt-hdr {
	float: left;
	margin: 0;
	background-image: url(../media/document.gif);
	background-position: 7px 50%;
	width: 731px;
	
	ul {
		float: left;
		margin-right: 50px;
		padding-left: 10px;
		border-left: 1px solid #fff;
	}
}

div#rex-clang ul {
	padding-left: 5px;
	border-left: 1px solid #fff;
}

div#rex-title ul li,
div#rex-clang ul li,
div.rex-cnt-hdr ul li {
	display: inline;
	font-weight: bold;
}

div#rex-title p {
	font-weight: bold;
}

div.rex-cnt-hdr ul {
	li span {
		color: #000;
		font-weight: normal;
	}
	
	li a {
		color: #669;
		font-weight: normal;
	}
	
	/*	Cnt Navi - Editmode / Meta / Show */
	
	&.rex-cnt-nav {
		display: inline;
		float: right;
		margin-right: 153px;
		padding-right: 10px;
		border-right: 1px solid #fff;
	}
}

/*	Form
*******************************************************************************/

div#rex-output {
	legend.rex-lgnd {
		font-weight: bold;
	}

	legend.rex-lgnd,
	p.rex-hdl,
	div.rex-spc-stn-cnt,
	div.rex-lgn-frm p,
	div.rex-tmp-editmode p,
	div.rex-mdl-editmode p,
	div.rex-spc-stn-cnt p,
	div.rex-mpl-catslct-frm p,
	div.rex-mpl-dtl-wrp p,
	div.rex-mpl-oth p,
	div.rex-mpl-oth li,
	p.rex-cnt-mdl-name,
	p.rex-sbmt,
	p.rex-slct {
		padding: 5px;
	}
	
	div.rex-fldst-wrppr {
		border-top: 1px solid #fff;
	}
	
	p,
	div.rex-ptag {
		label {
			clear: left;
			display: block;
			float: left;
			width: 150px;
			padding-top: 2px;
		}
	}
	
	p label.rex-lbl-rght {
		clear: none;
		display: inline;
		float: left;
		width: 200px;
		padding-top: 0;
	}
	
	div.rex-chckbxs {
		p, div.rex-ptag {
			span { padding-left: 20px; }
		}
	}
	
	/*
		p.rex-chckbx - just in content.inc.php
		p.rex-sbmt	 - just in content.inc.php
	*/

	p.rex-chckbx input,
	p.rex-rdo input,
	p.rex-sbmt input,
	p input.rex-chckbx,
	p input.rex-sbmt {
		width: auto;
	}
	
	select {
		&.rex-fdatey { width: 70px; }
		&.rex-fdate  { width: 50px; }
	}
}

div.rex-ptag {
	overflow: hidden;
	width: 568px;
}

body#rex-page-mediapool div#rex-output td input.rex-sbmt {
	width: auto;
}

/*	Table
*******************************************************************************/

table.rex-table {
	clear: both;
	width: 100%;
	background: #f0efeb;
	border-collapse: collapse;
	border-spacing: 1px;
	
	caption, th, td {
		padding: 5px;
		border: 1px solid #fff;
		border-right: 0;
	}
	
	caption {
		background-color: #d6e1e4;
		/* border-left: 0; */
		border-bottom: 0;
		font-weight: bold;
		text-align: left;
	}
	
	tr.rex-trow-actv td {
		background: #e7e6e3;
	}
	
	th {
		background: #d7d6d3;
		border-bottom: 0;
		text-align: left;
	}

	/*	real width = border + padding + width */
	
	th, td {
		&.rex-icon {
			width: 29px;
			text-align: center;
		}
		
		&.rex-colz {
			width: 153px;
		}
	}
}

table.rex-table-mrgn {
	margin-bottom: 10px;
}

body#rex-page-module table.rex-table caption {
	border: 0;
}

/*	Setup
*******************************************************************************/

div#rex-stp {
	padding: 20px 5px;
	background-color: #faf9f5;

	p, ul { margin-bottom: 1em; }
	
	ul {
		margin-left: 20px;
		
		li { list-style-type: square; }
		
		/* Language */
		
		&.rex-stp-language {
			margin-left: 0;
			font-weight: bold;
			text-align: center;
			
			li {
				display: block;
				padding: 5px 0;
				list-style-type: none;
				
				a { color: #000; }
			}
		}
	}
	
	fieldset {
		margin-bottom: 20px;
		
		legend {
			margin-bottom: 10px;
			font-weight: bold;
		}
	}
	
	p {
		clear: both;
		label { width: 200px; }
	}
	
	form#rex-stp-database label {
		margin-bottom:1em;
		width:450px;
	}
	label.rex-lbl-right {
		clear:none;
		display:inline;
		width:200px;
	}

	input, textarea { width: 300px; }
	
	select {
		width: 306px;
		
		&.rex-slct {
			clear: both;
			float: none;
			margin-left: 50px;
		}
	}

	input.rex-chckbx {
		clear: both;
		float: left;
		margin: 0 5px 0 30px;
		width: auto;
	}

	form#rex-stp-admin input.rex-chckbx {
		margin-bottom: 10px;
		margin-left: 200px;
	}
	
	input.rex-sbmt {
		margin-left: 200px;
	}
	
	form#rex-stp-database input.rex-sbmt {
		margin-left: 50px;
	}
}

/*
div#rex-stp p {
	float:left;
	width:100%;
}
*/

/* License */

div#rex-stp-lcns {
	margin: 30px 0;
	padding: 5px 0 5px 5px;
	width: 500px;
	height: 200px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #f0efeb;
}

/*	Login - Form
*******************************************************************************/

div.rex-lgn-frm {
	clear: both;
	background-color: #f0efeb;
	border: 1px solid #eae9e5;
	
	/* body div#rex-output div.rex-lgn-frm */ p label {
		width: 100px;
		padding-top: 4px;
	}
	
	p input {
		width: 100px;
		&.rex-sbmt { margin-left: 20px; }
	}
	
	legend.rex-lgnd {
		display: none;
	}
}

/*	Inputs in Table
	- add, edit Category (Structure, Medienpool)
	- add, edit Article (Structure)
*******************************************************************************/

/* - Cat/Art Edit Form */

input {
	&#category_name,
	&#Position_New_Category,
	&#Position_Category,
	&#kat_name,
	&#article_name,
	&#Position_New_Article,
	&#Position_Article,
	&#template_id,
	&#catname {
		width: 97%;
	}
	
	&#Position_New_Category,
	&#Position_Category,
	&#Position_New_Article,
	&#Position_Article {
		width: 87%;
	}
}

/*	Structure
*******************************************************************************/

body#rex-page-structure tr.rex-metainfo-cat-hdr td {
	background-color: #d6e1e4;
	label { font-weight: bold; }
}

tr.rex-trow-actv {
	td.rex-mt-lbl {
		vertical-align: top;
	}
	
	td.rex-mt-fld {
		textarea,
		input,
		select {
			width: 97%;
		}
		
		select {
			&.rex-fdate, &.rex-fdatey { margin: 2px 0; }
			&.rex-fdate               { width: 50px;   }
			&.rex-fdatey              { width: 84px;   }
		}

		textarea { height: 90px; }
	}
}

body#rex-page-structure tr.rex-trow-actv td.rex-mt-fld {
	p.rex-chckbx, p.rex-rdo {
		clear: both;
		
		label {
			float: right;
			width: 700px;
		}
		
		input {
			margin: 3px 0;
		}
	}
}

div.rex-meta-button {
	float:right;
	line-height:18px;
}

/*	Content - Editmode
*******************************************************************************/

/* rex-cnt-editmode-slc = Modulename - List Edit / Delete / Up / Down */

div.rex-cnt-editmode div.rex-cnt-editmode-slc {
	float: left;
	width: 100%;
	background: #ccd7dd;
	font-size: 1.2em;
	font-weight: bold;
	
	p {
		padding: 0 7px;
		line-height: 2.2em;
	}
	
	ul {
		padding: 0 10px;
		background: #e4eff2;
		
		li {
			display: block;
			float: left;
			padding: 0px 5px;
			line-height: 2.2em;
			
			a img { vertical-align:middle; }
		}
	}
}

div.rex-cnt-editmode {
	&,
	form div.rex-cnt-slc-ipt,
	form p.rex-sbmt {
		background-color: #d6e1e4;
	}
	
	form {
		width: 100%;
		clear: both;
		background-color: #b0bdc3;
		
		p.rex-cnt-mdl-name {
			background: #ccd7dd;
			font-size: 1.2em;
		}
		
		span {
			font-weight: bold;
		}
		
		p.rex-slct select {
			width: 100%;
		}
		
		legend.rex-lgnd {
			display: none;
		}
		
		/* Input Area */
		
		div.rex-cnt-slc-ipt {
			padding: 10px 7px;
		}
		
		/* Output Area - width for IE-Bug */
		
		div.rex-cnt-slc-otp {
			clear: both;
			width: 100%;
		}
		
		div.rex-cnt-slc-otp2 {
			padding: 10px 7px;
		}
	}
}

/*	Widgets - MEDIA_BUTTON, MEDIALIST_BUTTON, LINK_BUTTON *********************/

div.rex-wdgt {
	width: 300px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #999;
	
	p.rex-wdgt-fld {
		float: left;
		padding: 0;
		width: 230px;
	}
	
	div.rex-wdgt-lnk p.rex-wdgt-fld {
		width: 250px;
	}
	
	div.rex-wdgt-mdlst {
		p.rex-wdgt-fld {
			width: 256px;
		}
		
		p.rex-wdgt-icons {
			padding-top: 12px;
			
			a img { margin-bottom: 3px; }
		}
	}
	
	p.rex-wdgt-icons { float: right; }
	
	p.rex-wdgt-fld {
		input,
		select {
			width: 100%;
			background-color:#f0efeb;
		}
	}
	
	div.rex-wdgt-mda, div.rex-wdgt-lnk {
		p.rex-wdgt-icons { padding-top: 2px; }
	} 
}

div.rex-ptag div.rex-wdgt {
	margin-bottom: 0px;
	
	p.rex-wdgt-icons {
		background-color: #fff;
	}
}

/*	Content - Metamode
*******************************************************************************/

/* width for IE-Bug */

div.rex-cnt-metamode {
	background-color: #d6e1e4;
	width: 100%;

	p,
	div.rex-ptag {
		clear: both;
		padding: 5px;
		border-bottom: 1px solid #d6e1e4;
		background: #f0efeb;
		
		p {
			padding-left: 0;
			border: 0;
		}
		
		div.rex-wdgt {
			float: left;
			
			p {
				padding: 0;
				&.rex-wdgt-icons { clear: none; }
			}
		}
	}
	
	/* general define */

	p {
		input, select, textarea { width: 350px;       }
		textarea                { height: 90px;       }
		input.rex-sbmt          { margin-left: 150px; }
	}
}

/*	Template - Edit-/Addmode
*******************************************************************************/

div.rex-tmp-editmode {
	background-color:#d6e1e4;
	background-color:#d7d6d3;
	
	p {
		background-color:#f0efeb;
		border-bottom:1px solid #fff;
	}
	
	/* general define */

	p {
		input, textarea { width: 500px;       }
		textarea        { height: 400px;      }
		input.rex-sbmt  { margin-left: 150px; }
	}
	
	img#rex-tmp-ctypes-icon {
		vertical-align: middle;
	}
}

/*	Module/Action - Edit-/Addmode
*******************************************************************************/

div.rex-mdl-editmode {
	clear: both;
	background-color: #d7d6d3;
	
	p {
		background: #f0efeb;
		border-bottom: 1px solid #fff;
	}
	
	/* general define */

	p {
		input, select, textarea { width: 350px;       }
		textarea                { height: 150px;      }
		input.rex-sbmt          { margin-left: 150px; }
		
		span {
			display: block;
			margin: 5px 0 10px 150px;
		}
	}
}

/*	Addon - Help
*******************************************************************************/
/* Container for User Helpfile */

div.rex-adn-hlp {
	padding:5px;
	background-color:#f0efeb;
}

/*	User - Edit-/Addmode
*******************************************************************************/

div.rex-usr-editmode {
	float: left;
	width: 100%;
	background-color: #d7d6d3;
	
	div {
		clear: both;
		float: left;
		width: 100%;
		padding: 5px 0;
		background: #f0efeb;
		border-bottom: 1px solid #fff;
	}
	
	p {
		margin: 0;
		padding: 0;
		
		span {
			display: block;
			margin-left: 155px;
			padding-top: 2px;
		}
		
		label {
			padding-left: 5px;
			font-weight: bold;
			
			/* body div#rex-output div.rex-usr-editmode p */ &.rex-lbl-rght {
				width: 200px;
			}
		}

		input, select, textarea {
			width: 200px;
		}
		
		input.rex-chckbx {
			clear: both;
			float: left;
			margin: 0 5px 0 135px;
		}
		
		input.rex-sbmt {
			float: left;
			margin-left: 155px;
		}
	}
}

body div#rex-output div.rex-usr-editmode p.rex-warning {
	label {
		clear: none;
		width: 80%;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	input.rex-chckbx {
		margin: 0 0 0 45px;
	}
}

/*	Special
*******************************************************************************/

body div#rex-output {
	div.rex-spc-stn legend.rex-lgnd {
		padding-left: 0;
	}
	
	div.rex-spc-stn-cnt p {
		padding-left: 0;
		
		label {
			padding-left: 0;
			width: 190px;
		}
	}
}

div.rex-spc-stn-cnt p {
	input, select  { width: 40%;         }
	input.rex-sbmt { margin-left: 190px; }
}

/* - Clang Edit Form */

body#rex-page-specials input#clang_name {
	width: 97%;
}

/*	Medienpool
*******************************************************************************/

/*	Select Categories */

div.rex-mpl-catslct-frm {
	margin-bottom: 2px;
	background-color: #f0efeb;
}

body div#rex-output div.rex-mpl-catslct-frm p {
	margin-left: 39px;
	border-left: 1px solid #fff;
	
	label {
		clear: none;
		float: left;
		width: 104px;
		margin-top: 2px;
		font-weight: bold;
	}
	
	select {
		float: left;
		width: 180px;
		margin-left: 0px;
		margin-right: 20px;
		vertical-align: middle;
	}
	
	input {
		width:140px;
	}
	
	input.rex-sbmt {
		width: auto;
		line-height: 1em;
	}
}

/*	Medienlist */

div.rex-mpl-mdn {
	clear: both;
	background-color: #d6e1e4;
	
	table.rex-table {
		td.rex-thumbnail { text-align: center; }
		
		td span {
			display: block;
			margin-bottom: 1em;
			a { font-weight: bold; }
		}
	}
}

body div#rex-output div.rex-mpl-mdn table.rex-table tfoot td select {
	margin-left: 104px;
	width: 250px;
}

/*	Mediendetail */

div.rex-mpl-dtl {
	background-color: #d6e1e4;
	
	div.rex-mpl-dtl-wrp {
		float: left;
		width: 100%;
		background-color: #f0efeb;
	}
	
	div.rex-mpl-dtl-edt {
		float: left;
		width: 100%;
		
		p {
			border-bottom: 1px solid #fff;
			
			input, textarea        { width: 244px;     }
			input#file_new, select { width: 250px;     }
			input.rex-sbmt         { margin-right:5px; }
		}
	}
	
	div.rex-mpl-dtl-img {
		float: right;
		width: 34%;
		text-align: center;
	}
}

body div#rex-output div.rex-mpl-dtl div.rex-mpl-dtl-edt p {
	label      { width: 144px;       }
	textarea   { height: 45px;       }
	&.rex-sbmt { padding-left:149px; }
}

/*	manage Medienpool Categories */

div.rex-mpl-cat-pth {
	background-color: #f0efeb;
	margin-bottom: 10px;
	
	ul {
		padding: 5px;
		
		li {
			display: inline;
			font-weight: bold;
		}
	}
}

div.rex-mpl-cat {
	background-color: #d6e1e4;
	input { width:90%; }
}

/*	Other - Add File, Sync */

div.rex-mpl-oth {
	background-color:#d6e1e4;
	background-color:#d7d6d3;
	
	p, li {
		background-color: #f0efeb;
		border-bottom: 1px solid #fff;
	}
	
	p {
		input, select, textarea { width: 70%;   }
		textarea                { height: 65px; }
	}
}

body div#rex-output div.rex-mpl-oth {
	li {
		padding-left: 149px;
		input.rex-chckbx { margin-right: 10px; }
	}
	
	p label    { width: 144px;        }
	p.rex-sbmt { padding-left: 149px; }
}

/*	Linkmap
*******************************************************************************/

div.rex-lmp-pth {
	background-color: #f0efeb;
	margin-bottom: 10px;
	
	ul {
		padding: 5px;
		
		li {
			display: inline;
			font-weight: bold;
		}
	}
}

div#rex-lmp {
	clear: both;
	width: 100%;
	background-color: #f0efeb;
	background-image: url(../media/file_vert.gif);
	background-position: 48% 0px;
	background-repeat: repeat-y;
	
	h1 {
		padding: 5px;
		background-color: #d7d6d3;
		font-size: 1em;
	}
	
	ul {
		margin: 10px 5px 10px 5px;
		
		li {
			a {
				display: block;
				margin-bottom: 4px;
				padding: 2px 0px 2px 35px;
				background-image: url(../media/folder_off_empty.gif);
				background-position: 0px 0px;
				background-repeat: no-repeat;
				
				&.rex-lmp-is-not-empty {
					background-image: url(../media/folder_off.gif);
				}
			}
			
			&.rex-active {
				a.rex-active {
					background-image: url(../media/folder_on_empty.gif);
				}
				
				a.rex-lmp-is-not-empty.rex-active {
					background-image: url(../media/folder_on.gif);
				}
			}
			
			ul {
				margin: 0 0 0 0px;
				background-image: url(../media/file_vert.gif);
				background-position: 2px 0px;
				background-repeat: repeat-y;
				
				/* WTF?! Die eine Klasse hängt am ul, die andere am li. Ist im Original so gewesen. */
				
				&.rex-children-one   { background: none; }
				li.rex-children-last { background-image: url(../media/file_last_2.gif); }
			}
			
			&.rex-children ul li,
			ul li.rex-children-last {
				margin-left: 23px;
				padding-left: 10px;
				background-image: url(../media/file.gif);
				background-position: -21px 0px;
				background-repeat: no-repeat;
			}
		}
	}
	
	div.rex-lmp-arts ul li {
		a {
			padding-left: 20px;
			background-image: url(../media/document.gif);
		}
		
		&.rex-lmp-startpage a {
			background-image: url(../media/liste.gif);
		}
	}

}

div.rex-lmp-cats,
div.rex-lmp-arts {
	float: left;
	width: 50%;
}

/*	Addons - General
*******************************************************************************/

div.rex-addon-output {
	clear: both;
	background-color: #f0efeb;
	
	h2 {
		padding: 5px;
		background-color: #d7d6d3;
		border-bottom: 1px solid #fff;
	}
	
	div.rex-addon-content {
		padding: 5px;
	}
	
	h3, p, code {
		margin-bottom: 1em;
	}
	
	h3 {
		font-size: 1em;
		font-weight: bold;
	}
	
	code {
		display: block;
		padding: 20px 10px;
		border: 1px solid #f2353a;
		background-color: #faf9f5;
		font-size: 1.6em;
	}
}

/*	Forms */

div.rex-addon-editmode {
	clear: both;
	background-color: #d7d6d3;
	
	form {
		clear: both;
	}
	
	p {
		padding: 5px;
		background: #f0efeb;
		border-bottom: 1px solid #fff;
		
		/* general define */
		input, textarea { width: 500px;  }
		select          { width: 506px;  }
		textarea        { height: 150px; }
		
		&.rex-rdo input,
		&.rex-chckbx input,
		input.rex-ffile {
			width: auto;
		}
		
		input.rex-sbmt {
			margin-left: 150px;
			width: auto;
		}
	}
}

/*	Addon - Metainfo
*******************************************************************************/

body#rex-page-mediapool, body#rex-page-metainfo {
	fieldset p span.rex-notice {
		display: block;
		clear: both;
		margin: 1em 5px 1em 150px;
	}
}

/*	Addon - Import / Export
*******************************************************************************/

body#rex-page-import-export {
	div.rex-cnt {
		p {
			clear: both;
			margin: 1em 5px;
		}
		
		fieldset p {
			float: left;
			width: 100%;
			margin: 0;
			padding-left: 0;
			padding-right: 0;
			background-color: #FAF9F5;
		}
		
		fieldset div.rex-export-list {
			border-left: 30px solid #f0efeb;
		}
		
		table {
			th { white-space: nowrap;       }
			td { background-color: #FAF9F5; }
		}
	}
	
	div.rex-addon-editmode {
		p.rex-ftxt {
			label {
				width: 145px;
				margin: 0 0 0 5px;
			}
			
			input {
				width: 200px;
				margin: 0 10px 0 5px;
			}
		}
		
		p.rex-chckbx, p.rex-rdo {
			input {
				float: left;
				margin: 0 10px 0 5px;
			}
		}
	}
}

/* noch in CC setzen */

* html div.rex-cnt-editmode div.rex-cnt-editmode-slc ul li a img {
	padding-top:5px;;
}

* html div#rex-output div.rex-wdgt div.rex-wdgt-mda,
* html div#rex-output div.rex-wdgt div.rex-wdgt-lnk {
	float: left;
	width: 100%;
}

div.rex-cnt-editmode {
	div.rex-cnt-slc-otp {
		h1, h2, h3, h4, h5, h6, p, ol, ul {
			margin-bottom: 10px;
		}
		
		code { font-size: 1.4em; }
	}
	
	div.rex-cnt-slc-ipt, div.rex-cnt-slc-otp {
		ol { margin-left: 20px; li { list-style-type: decimal; } }
		ul { margin-left: 15px; li { list-style-type: disc;    } }
	}
}

div.rex-list-navi {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	background-color: #f0efeb;
	line-height: 3em;
	
	ul.rex-list-pgnt {
		margin-left: 5px;
		
		li {
			display: block;
			float: left;
			padding-right: 5px;
		}
		
		li.rex-list-pgnt-img img {
			vertical-align: middle;
		}
		
		li.rex-list-pgnt-page {
			a, a span, span {
				display: block;
				background-image: url(../media/list_pages.gif);
				background-position: 0px 10px;
			}
			
			a span, span span {
				background-position: 100% -40px;
				padding: 1px 4px 0 2px;
			}
			
			a, span { padding-left: 1px; }
		}
	}
}

/*	Pages - General
*******************************************************************************/

.rex-mrgn {
	margin-bottom: 10px;
}

div.rex-page-output {
	clear: both;
	background-color: #f0efeb;
	
	h2 {
		padding: 5px;
		background-color: #d7d6d3;
		border-bottom: 1px solid #fff;
	}
	
	p { margin-bottom: 10px; }
	div.rex-page-content { padding: 5px; }
}


div.rex-f-lft  { float: left;  }
div.rex-f-rght { float: right; }
