div#rex-navi-logout, div#rex-navi-main, div#rex-navi-page, div#rex-navi-path,
div#rex-clang, div.rex-content-header, div#rex-linkmap, div.rex-navi-slice,
div.rex-toolbar {
	ul {
		margin: 0;
		list-style: none;
	}
}

ul#rex-navi-path {
	margin: 0;
	list-style: none;
}

/******************************************************************************\
* Header / Footer                                                              *
\******************************************************************************/

div#rex-navi-main {
	float: left;
	width: 100%;
	height: 24px;
	padding: 5px 0;
}

html>body div#rex-navi-main {
	height: auto;
	min-height: 24px;
}

div#rex-navi-main {
	dl { width: 70%; }
	dd { clear: both; padding: 0 5px; }

	ul {
		ul { display: none; }
		
		li {
			display: block;
			float: left;
			padding: 0 5px;
			white-space: nowrap;
			
			&, a             { font-weight: bold; }
			&.rex-navi-first { padding-left: 0px; }
		}
	}
}

div#rex-navi-footer {
	p {
		float: right;
		margin: 0 5px;
	}
	
	ul {
		float: left;
		width: 70%;
		margin: 0 5px;
		
		li {
			display: inline;
			
			a                  { padding: 0 5px;  }
			&.rex-navi-first a { padding-left: 0; }
		}
	}
}

/******************************************************************************\
* Navi Logout                                                                  *
\******************************************************************************/

div#rex-navi-logout {
	position: absolute;
	right: 0;
	top: 25px;
	
	p.rex-logout {
		padding-right: 5px;
	}
	
	ul li {
		display: inline;
		font-weight: bold;
		
		a, span { padding: 0 5px; }
		
		&.rex-navi-first {
			a, span { padding-left: 0; }
		}
	}
}

/******************************************************************************\
* Navigation unter dem Seitentitel                                             *
\******************************************************************************/

div#rex-navi-page ul li {
	display: inline;
	font-weight: bold;
	
	a                  { padding: 0 5px;  }
	&.rex-navi-first a { padding-left: 0; }
}

/* Navi unterhalb des Subpages (Addons) */

div#rex-output div#rex-navi-page {
	margin-top: -10px;
	margin-bottom: 10px;
	
	ul {
		padding-left: 5px;
	}
}

/******************************************************************************\
* Pfad                                                                         *
\******************************************************************************/

ul#rex-navi-path li {
	display: inline;
	font-weight: bold;
}

/*	Bspl.: Linkmap Path */

div#rex-navi-path {
	margin-bottom: 10px;
	padding: 7px 5px;
	
	ul li {
		display: inline;
		font-weight: bold;
	}
}

/******************************************************************************\
* Sprachen, Content (Editiermodus, Metadaten, Anzeigen)                        *
\******************************************************************************/

div.rex-content-header {
	position: relative;
	float: left;
	width: 100%;
	
	ul {
		padding-left: 5px;
		float: left;
		margin-right: 50px;
		
		&.rex-navi-content {
			float: right;
			margin-right: 153px;
			border-right-width: 1px;
			border-right-style: solid;
			border-left-width: 1px;
			border-left-style: solid;
		}
	}
}

div#rex-clang {
	margin-bottom: 10px;
}

div.rex-content-header-2 {
	margin-left: 40px;
	border-left-width: 1px;
	border-left-style: solid;
}

div#rex-clang, div.rex-content-header {
	ul li {
		display: inline;
		font-weight: bold;
		
		a {
			padding: 0 5px;
			font-weight: normal;
		}
		
		&.rex-navi-first a {
			padding-left: 0;
		}
	}
}

/******************************************************************************\
* Pager                                                                        *
\******************************************************************************/

div#rex-navi-paginate ul li {
	display: block;
	float: left;
	margin-right: 5px;
	
	&.rex-navi-paginate-message {
		padding-top: 2px;
	}
	
	&.rex-navi-paginate-prev, &.rex-navi-paginate-next, &.rex-navi-paginate-page {
		a { display: block; }
	}
	
	&.rex-navi-paginate-page a span {
		display: block;
		padding: 1px 4px 2px 4px;
	}
	
	&.rex-navi-paginate-prev a, &.rex-navi-paginate-next a {
		width: 24px;
		height: 13px;
		text-indent: -1000em;
	}
}

/******************************************************************************\
* Slices                                                                       *
\******************************************************************************/

div.rex-navi-slice ul li {
	display: block;
	float: left;
	padding: 8px 0 7px 5px;
	
	&.rex-navi-first {
		padding-left: 10px;
	}
	
	a {
		margin-right: 5px;
		
		&.rex-slice-move-up, &.rex-slice-move-down {
			display: block;
			width: 16px;
			height: 16px;
		}
		
		&.rex-slice-move-up {
			margin-right: 0px;
		}
	}
}

/******************************************************************************\
* Linkmap                                                                      *
\******************************************************************************/

div#rex-linkmap {
	ul {
		margin: 0 5px 10px 0;
		
		li {
			ul {
				margin: 0;
				
				&.rex-children-one {
					background: none;
				}
			}
			
			a {
				display: block;
				margin-bottom: 4px;
				padding: 4px 0px 4px 35px;
			}
			
			&.rex-children ul li, ul li.rex-children-last {
				margin-left: 23px;
				padding-left: 10px;
			}
		}
	}
	
	div.rex-area-col-b ul li a {
		padding-left: 20px;
	}
}
