div.rex-toolbar-content {
  zoom: 1;
}

input.rex-form-text {
  height: 14px;
}

#rex-page-structure div#rex-form-structure-category tr.rex-metainfo-cat div.rex-form-row {
	label, p.rex-form-label {
		float: none;
		width: auto;
	}
}
