@constants {
	background:         #FFF;
	menu_link:          #4d4646;
	link_color:         #1f9eb5;
	link_color_offline: #b2b2b2; /* hellgrau */
	link_color_online:  #088c05; /* grün */
	drk_grey:           #4d4646;
	md_grey:            #aca9a9;
	lt_grey:            #d9d9d9;
	brd_rad:            4px;
}
