.sly-form-text,
.sly-form-password,
.sly-form-date,
.sly-form-datetime,
.sly-form-datetime-local,
.sly-form-number,
.sly-form-range,
textarea,
select {
	font-size: 100%;
	border: 1px solid $lt_grey;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	color: $drk_grey;
	font-family: Calibri, Arial, Verdana, sans-serif;
}

.sly-form-text,
.sly-form-password,
.sly-form-submit,
.sly-form-reset,
.sly-form-button,
textarea,
select option {
	&:disabled {
		color: GrayText;

		&:active {
			border-color: $lt_grey;
		}
	}
}

select {
	height: 21px;
	width: 462px;
}

select[multiple=multiple] {
	height: auto;
}

.sly-form-text,
.sly-form-number,
.sly-form-password,
span.sly-form-read {
	height: 17px;
	padding: 1px 2px;
	width: 456px;
}

.sly-form-file {
	border: 0;
	width: auto;
	height: auto;
}

.sly-button, .sly-form-submit {
	background-image: url(../button.png);
	background-repeat: repeat-x;
	padding: 1px 6px;
	height: 24px;
	color: $drk_grey;
	border: 1px solid $lt_grey;
	+border-radius($brd_rad);
	font-size: 100%;
	font-family: inherit;
	width: auto;

	&:active, &:focus {
		border: 1px solid $md_grey;
	}

	&.sly-button-delete {
		color: red;
	}
}

a.sly-button {
	display: inline-block;
	height: 20px;
	margin-left: 0;
	line-height: 19px;
	cursor: default;
}

.sly-area-content {
	.sly-form-checkbox, .sly-form-radio {
		line-height: 1em;
	}
}

.sly-form-hidden-label {
	+hide;
}

.sly-form {
	span.sly-form-read,
	.sly-form-helptext {
		display: block;
	}

	.sly-form-read {
		line-height: 21px;
	}

	.sly-form-helptext {
		float: left;
		margin-left: 145px;
		margin-top: 5px;
		color: #777777;
		font-size: 11px;
		clear: left;
	}

	label span {
		padding: 0 0 0 5px;
	}

	/*	Select */

	select:disabled {
		background-color: #F9F9F9;
		color: #7D7676;
	}

	label.sly-inline {
		float: none;
		display: inline;
		vertical-align: middle;
	}

	input.sly-form-checkbox, input.sly-form-radio {
		vertical-align: middle;
		width: auto;
		margin: 0 3px;
	}

	.sly-form-date, .sly-form-datetime, .sly-form-datetime-local {
		width: auto;
	}

	.sly-select-group {
		display: block;
		line-height: 18px;
		padding-left: 145px;

		span {
			display: block;
		}
	}
}

.sly-widget {
	+clearfix;
	display: block;
	float: left;

	&.sly-linklist,
	&.sly-medialist {
		select {
			height: 75px;
			width: 420px;
			background: #fff;
		}
	}

	input, select {
		float: left;
	}

	.sly-icons {
		display: block;
		float: left;
		width: 16px;
		margin-top: 3px;
		margin-left: 5px;

		a {
			display: block;
			width: 16px;
			height: 16px;
			line-height: 0;
			margin-bottom: 2px;

			&.fct-open   { background: transparent url(../file_open.png) 0 0 no-repeat;   }
			&.fct-add    { background: transparent url(../file_add.png) 0 0 no-repeat;    }
			&.fct-delete { background: transparent url(../file_del.png) 0 0 no-repeat;    }
			&.fct-top    { background: transparent url(../file_top.png) 0 0 no-repeat;    }
			&.fct-up     { background: transparent url(../file_up.png) 0 0 no-repeat;     }
			&.fct-bottom { background: transparent url(../file_bottom.png) 0 0 no-repeat; }
			&.fct-down   { background: transparent url(../file_down.png) 0 0 no-repeat;   }
		}

		img {
			width: 16px;
			height: 16px;
		}
	}

	&.sly-media input { width: 393px; }
	&.sly-link input  { width: 413px; }
}

.sly-form {
	label {
		display: inline-block;
		float: left;
		width: 145px;
		padding: 0;
		line-height: 21px;

		img {
			vertical-align: middle;
		}
	}

	.sly-form-col-2 {
		.sly-form-text, .sly-form-password, select, textarea {
			width: 200px;
		}
	}

	.sly-form-row {
		+clearfix;
		padding: 7px;
		width: 783px;
		vertical-align: middle;
		border-top: 1px dotted $md_grey;

		&:first-child {
			border-top: 0 none;
		}
	}

	.sly-radio-group {
		display: block;
		padding-left: 145px;
		line-height: 21px;

		label {
			float: none;
			display: inline;
		}
	}

	input.sly-form-submit-2 {
		margin-left: 20px;
	}

	input.sly-form-submit,
	input.sly-button-delete {
		width: auto;
	}

	/*	Zweispaltig */

	fieldset.sly-form-col-2 {
		.sly-form-col-a, .sly-form-col-b {
			width: 49%;
			float: left;
		}
	}

	textarea {
		height: 250px;
		width: 605px;
		padding: 2px;
	}

	/* Überschrift | dunkelgrau hinterlegt mit runden Ecken*/
	legend {
		color: #fff;
		background-color: $drk_grey;
		font-size: 1.1em;
		width: 787px; /* Breite des Loginbereichs abzüglich des padding links*/
		padding: 8px 0 8px 10px;
		+border-top-radius(4px);
	}

	.sly-form-wrapper {
		background-color: #fff;
		+border-bottom-radius(4px);
		margin-bottom: 20px;
	}

	.sly-form-range {
		width: 114px;

		&.ua-supported {
			width: 228px;
			border: 0 none;
		}
	}

	.sly-form-number {
		width: 114px;
	}

	input.sly-form-date,
	input.sly-form-datetime,
	input.sly-form-datetime-local {
		width: 114px;

		&.ua-supported {
			width: auto;
		}
	}

	.sly-slider {
		margin-left: 145px;
		width: 228px;
		top: 4px;
	}

	.sly-form-buttonbar {
		input:first-child {
			margin-left: 145px;
		}

		input { margin-right: 5px; }
	}
}

/* sly_Form_DateTime */

.selHrs,.selMins {
	width: 2.5em;
}

.selHrs {
	margin-left: 5px;
}

.dayPeriod {
	display: inline-block;
	width: 20px;
}

.slider {
	height: 120px;
	float: left;
	margin: 10px
}

#tpSelectedTime {
	margin-bottom: 0;
	border-bottom: 1px solid #A6C9E2;
	padding: 5px;
	color: #000;
	background: #fff;
	text-transform: none;
}

#tpSelectedTime span {
	font-weight: bold;
}

#pickerplug {
	overflow: hidden;
	display: none;
	position: absolute;
	top: 200px;
	left: 300px;
	padding: 0;
	margin: 0;
	z-index: 500;
}

#pickerplug li {
	display: block;
	float: left;
}

#timepicker {
	background: #fff;
	font-size: 0.8em;
	padding: 0.2em 0.2em 0;
}

#timepicker ul {
	overflow: hidden;
	padding: 5px;
}

#timepicker ul li {
	position: relative;
	display: block;
	float: left;
	width: 50px;
}

#timepicker ul li h4 {
	width: 100%;
	background: transparent;
	color: #000;
	text-align: center;
}

#timepicker ul li .slider {
	position: relative;
	left: 10px;
}

/* Mehrsprachige Formulare */

.sly-form-i18n-switch {
	float: right;
	position: relative;
	width: 15px !important;
	margin-right: 5px;
	line-height: 22px;
	z-index: 100;

	input { width: 15px !important; }
	img   { vertical-align: top; cursor: pointer; }
}
