input.rex-form-text {
	padding: 1px 2px;
	border: 1px solid $lt_grey;
}

.sly-form .rex-form-row {
	input.rex-form-text[type="range"] {
		width: 114px;

		&.ua-supported {
			width: 228px;
			border: 0 none;
		}
	}

	input.rex-form-text[type="number"] {
		width: 114px;
	}

	input.rex-form-text[type="date"],
	input.rex-form-text[type="datetime"],
	input.rex-form-text[type="datetime-local"] {
		width: 114px;

		&.ua-supported {
			width: auto;
		}
	}

	.sly-slider {
		margin-left: 145px;
		width: 228px;
		top: 4px;
	}
}

p.rex-button a, .sly-button, input[type=submit], input[type=reset] {
	background-image: url(../button.png);
	background-repeat: repeat-x;
	padding: 1px 6px;
	color: $drk_grey;
	text-decoration: none;
	border: 1px solid $lt_grey;
	+border-radius($brd_rad);
	margin-left: 145px;
}

a.sly-button {
	margin-left: inherit;
}

.rex-addon-content,
.rex-area-content {
	p.rex-form-checkbox, p.rex-form-radio { line-height: 1em; }
}

.sly-content .rex-form {
	margin-bottom: 1em;
}


#sly-form-field-name {
	width: 97%;
}

#sly-form-field-prior {
	width: 87%;
}

.rex-form-hidden-legend span,
.rex-form-hidden-label {
	+hide;
}

/* REX-FORM -------------------------------------------------------------------------------------- REX-FORM */
.sly-form .rex-form-row,
.rex-form .rex-form-row {
	label, p.rex-form-label {
		clear: both;
		display: block;
		float: left;
		width: 145px;
		padding: 0;
		line-height: 21px;

		img {
			vertical-align: middle;
		}
	}

	p {
		span.rex-form-read,
		span.rex-form-notice {
			display: block;
			/* padding: 10px 0 10px 10px; */
		}

		span.rex-form-read {
			line-height: 21px;
		}

		span.rex-form-notice {
			clear: both;
			margin-left: 145px;
			margin-top: 5px;
			color: #777777;
			font-size: 11px;
		}

		label span {
			display: inline;
			margin-left: 0;
			padding: 0 0 0 5px;
			font-weight: normal;
		}

		textarea {
			padding: 2px;
		}
	}

	/*	Select */

	p select.rex-form-select:disabled {
		background-color: #F9F9F9;
		color: #7D7676;
	}

	p select.rex-form-select-date { width: 50px;  }
	p select.rex-form-select-year { width: 70px;  }

	label.sly-inline {
		float: none;
		display: inline;
	}

	.sly-form-checkbox, .sly-form-radio {
		border: 0;
		vertical-align: middle;
	}

	.sly-select-group {
		display: block;
		line-height: 18px;
		padding-left: 145px;

		input {
			vertical-align: middle;
			border: 0;
		}
	}
}

/* sly widgets */
.sly-widget {
	+clearfix;
	&.sly-medialist {
		display: block;

		select {
			float: left;
			width: 398px;
		}

		.sly-icons {
			float: left;
			width: 16px;
			margin-left: 5px;

			img {
				padding-bottom: 2px;
			}
		}
	}

	&.sly-media, &.sly-link {
		input {
			width: 393px;
			margin: 0;
		}

		.sly-icons img {
			padding-bottom: 2px;
		}
	}
}



.rex-form {
	+border-radius($brd_rad);

	.rex-form-row {
		p.rex-form-read span,
		p.rex-form-text input,
		p.rex-form-password input,
		p select,
		p textarea {
			width: 456px;
		}

		span.sly-radio-group {
			display: block;
			padding-left: 145px;
			line-height: 21px;

			label { float:none; display:inline; }
			input.rex-chckbx { margin-top: 3px; margin-right: 5px; float:left; }
		}
	}

	&,
	.rex-form-row p {
		input.rex-form-submit-2 { margin-left: 20px; }
	}

	.rex-form-row p,
	fieldset.rex-form-col-2 .rex-form-row p.rex-form-text {
		input.rex-form-submit { width: auto; }
	}

	/*	Zweispaltig */

	fieldset.rex-form-col-2 .rex-form-row {
		/* p.rex-form-col-a, */
		.rex-form-col-a, .rex-form-col-b {
			width:49%;
			float: left;
		}
	}

	.rex-area-col-b {
		.rex-form-wrapper {
			width: 100%;
			padding: 0;
		}

		legend {
			width: auto;
			background: none;
			color: $drk_grey;
			font-size: 100%;
			padding-bottom: 5px;
		}
	}
}

/*	Bspl.: div.rex-area-col-2 -> System : Einstellungen */

.rex-area-col-2 fieldset.rex-form-col-1,
.rex-form fieldset.rex-form-col-2 {
	.rex-form-row {
		p.rex-form-read span,
		p.rex-form-text input,
		p.rex-form-password input,
		p select,
		p textarea {
			width: 200px;
		}
	}
}

.sly-form {
	.rex-form-row {
		padding: 7px;
		clear: both;
		float: left;
		width: 783px;
		vertical-align: middle;
		border-top: 1px dotted $md_grey;
	}

	textarea { height: 250px; width: 605px; }

	input.rex-form-checkbox,
	input.rex-form-radio {
		clear: both;
		margin: 0 0 0 21px;
	}

	/* Überschrift | dunkelgrau hinterlegt mit runden Ecken*/
	legend {
		color: #fff;
		background-color: $drk_grey;
		font-size: 1.1em;
		width: 787px; /* Breite des Loginbereichs abzüglich des padding links*/
		padding: 8px 0 8px 10px;
		+border-top-radius(4px);
	}

	fieldset.num1 legend,
	fieldset.sly-num0 legend {
		background-color: $drk_grey;
	}

	.rex-form-wrapper {
		background-color: #fff;
		+border-bottom-radius(4px);
		clear: both;
		float: left;
		padding: 0;
		margin-bottom: 20px;
	}
}

/* sly_Form_DateTime */

.selHrs,.selMins {
	width: 2.5em;
}

.selHrs {
	margin-left: 5px;
}

.dayPeriod {
	display: inline-block;
	width: 20px;
}

.slider {
	height: 120px;
	float: left;
	margin: 10px
}

#tpSelectedTime {
	margin-bottom: 0;
	border-bottom: 1px solid #A6C9E2;
	padding: 5px;
	color: #000;
	background: #fff;
	text-transform: none;
}

#tpSelectedTime span {
	font-weight: bold;
}

#pickerplug {
	overflow: hidden;
	display: none;
	position: absolute;
	top: 200px;
	left: 300px;
	padding: 0;
	margin: 0;
	z-index: 500;
}

#pickerplug li {
	display: block;
	float: left;
}

#timepicker {
	background: #fff;
	font-size: 0.8em;
	padding: 0.2em 0.2em 0;
}

#timepicker ul {
	overflow: hidden;
	padding: 5px;
}

#timepicker ul li {
	position: relative;
	display: block;
	float: left;
	width: 50px;
}

#timepicker ul li h4 {
	width: 100%;
	background: transparent;
	color: #000;
	text-align: center;
}

#timepicker ul li .slider {
	position: relative;
	left: 10px;
}

/* Mehrsprachige Formulare */

.sly-form-i18n-switch {
	float: right;
	position: relative;
	width: 15px !important;
	margin-right: 5px;
	line-height: 22px;
	z-index: 100;

	input { width: 15px !important; }
	img   { vertical-align: top; cursor: pointer; }
}

/* Linklist-Button */

.sly-form .rex-form-row .sly-linklist {
	select.sly-linklist { width: 305px; }

	input.sly-link-filter {
		width: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.sly-icons {
		float: left;
    	margin-left: 5px;
    	width: 16px;

		img { padding-bottom: 2px; }
	}

	input, select { float: left; }

	span.rex-form-notice {
		clear: none;
		float: left;
		margin-left: 10px;
		margin-top: 10px;
		width: 205px;
		line-height: 14px;
	}
}

.sly-filter-results {
	background: white;
	border: 1px dotted #4D4646;

	ul li {
		list-style: none;
		font-size: 11px;
		color: #666;
		padding: 3px;

		&:hover {
			background-color: #EEE;
			color: black;
			cursor: pointer;
		}
	}
}
