#sly-navi-main {
	float: left;
	width: 171px;

	ul li a.sly-active {
		color: #fff;
		font-weight: bold;
	}
}

.sly-navigation {
	width: 100%;
	display: block;
	color: $drk_grey;

	li {
		list-style: none outside none;
		margin-bottom: 1px;
		line-height: 25px;
		font-size: 0.9em;
	}

	a {
		+border-radius(3px);
		display: block;
		color: $drk_grey;
		background-color: #fff;
		padding:0 0 0 25px;
		background-image: url(../background_menu_arrow.sld.png);
		background-position: 10px 0;
		background-repeat: no-repeat;

		&:hover {
			color: #fff;
			background-color: #b3b3b3;
			text-decoration: none;
			background-position: 10px -24px;
		}

		&.sly-active {
			background-color: $drk_grey;
			color: #fff;
			font-weight: bold;
			background-position: 10px -49px;
		}

		/* anderes Menü-Icon für Medienpool */
		&.popup {
			background-image: url(../background_btn_popup.sld.png);
			background-position: center 1px;

			&:hover {
				background-image: url(../background_btn_popup.sld.png);
				background-position: center center;
			}
		}
	}

	.sly-navigation-level-2 {
		a {
			padding-left: 40px;
			background-image: url(../background_sub-menu_arrow.sld.png);
			background-position: 25px 0;

			&.sly-active {
				color: $drk_grey;
				background-color: $lt_grey;
				background-position: 25px -49px;
				font-size: 1.1em; /* font-size vererbung geht nicht? */
			}

			&:hover {
				background-color: $md_grey;
				background-position: 25px -24px;
			}
		}
	}

	/* Navi-Headline */
	dt {
		display: block;
		padding: 10px 10px 6px;
		font-size: 1.4em;
		letter-spacing: -0.01em;
		text-shadow: 1px 1px 0px rgba(255,255,255,1.0);
		border-bottom: 1px dotted $md_grey;
		margin-bottom: 5px; /* Abstand "Basis Naviagtion" zum ersten Menüpunkt 5px */
		line-height: 24px;
	}

	dd {
		margin: 0 0 16px 0;
	}
}

#sly-navi-top {
	color: #b2b2b2;
	height: 88px;
	margin-bottom: 36px;
	background: transparent url(../logo.png) 11px 0px no-repeat;

	.sly-meta {
		padding: 59px 0 0 0;
		text-align: right;
		font-size: 0.8em;
	}

	a, span { padding: 0 5px; }

	ul li {
		display: inline;
		font-weight: bold;
		border-left: 1px solid #CCC;

		&.sly-first {
			border: 0 none;
		}
	}
}

#sly-navi-page ul li {
	display: inline;
	font-weight: normal;
	border-left: 1px solid #CCC;

	a {
		margin: 0 15px;
	}

	&.sly-first {
		border: 0 none;

		a {
			margin-left: 0;
		}
	}

	a.sly-active {
		color: $drk_grey;
	}
}

#sly-footer {
	float: left;
	border-top: 1px dotted #B0AEAE;
	margin-top: 30px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 0.8em;
	+clearfix;

	p {
		float: right;
		margin: 0 5px;
		color: $md_grey;
	}

	ul {
		float: left;
		width: 50%;
		margin: 0 5px;

		li {
			display: inline;
			border-left: 1px solid #CCC;

			&.sly-first {
				border: 0 none;
			}

			a {
				margin: 0 8px;
			}

			&.sly-first a {
				margin-left: 0;
			}
		}
	}
}
