h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.sly-content {
	clear: left;

	> p {
		margin-bottom: 1em;
		line-height: 15px;
	}
}

/* Sprites */

.sly-sprite {
	background-image: url(../sprites.png);
	background-repeat: no-repeat;
}

img.sly-sprite, a.sly-sprite, span.sly-sprite {
	height: 16px;
	width: 16px;

	span { +hide; }
}

a.sly-sprite, span.sly-sprite {
	display: block;
	margin: 0 auto;
}

/**********************************************************************/
/* START CSS_form                                                     */
/**********************************************************************/

/*	Inputs in Table
	- add, edit Category (Structure, Medienpool)
	- add, edit Article (Structure)
*******************************************************************************/

/**********************************************************************/
/* START CSS_component                                                */
/**********************************************************************/

caption, legend {
	&.rex-hidden { +hide; }
}

/*	REX-MESSAGE -------------------------------------------------------------------------- REX-MESSAGE */

.sly-message {
	clear:both;
	font-weight:700;
	line-height:1em;
	margin-bottom:10px;
	width:100%;

	&.rex-info, &.rex-warning, &.sly-info, &.sly-warn {
		padding: 8px 0;
		color: #fff;
		background-color: $link_color;
		background-image: url(../warning.png);
		background-position: 0% 50%;
		background-repeat: no-repeat;
		+border-radius(4px);
		border: 1px solid #efefef;
	}

	&.rex-warning, &.sly-warn {
		background-color: #b32430;
	}

	span {
		display: block;
		padding: 0 45px;
	}
}

/* --------------------------------------------------------------------------------------------------- */

/*	real width = border + padding + width */

.rex-table, .sly-table {
	th, td {
		&.rex-small, &.sly-icon, &.sly-small {
			width: 29px;
			text-align: center;
		}

		&.sly-icon {
			padding: 0;
		}
	}

	tr:first-child td { border-top: none; }
}

/*	Allgemeiner Block (Addon Hilfeseiten) / Addon Seiten */

.rex-area {
	float: left;
	width: 100%;
}

.rex-area,
.rex-addon {
	&-footer {
		padding: 7px 5px;
		font-weight: bold;
	}
}

/*	Spaltigkeit */                                                 /* *lol* :) */

.rex-area-col {
	&-2 {
		+clearfix;
		position: relative;
		width: 100%;
	}

	&-a, &-b {
		float: left;
		width: 50%;
	}

	&-b {
		float: right;

		.rex-hl2, .rex-area-content {
			float: right;
		}
	}
}

/*	Widget */

/*	Breite war von "div.rex-form div.rex-form-row p" */

/*	Icons */

.rex-i-element {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	text-indent: -1000em;
}

.rex-tx3 { color: #188D12; } /* Grün */
.rex-tx2 { color: #AF112F; } /* Rot */

/* Schriftarten */

.rex-area-footer {
	background-color: $drk_grey;
}

.rex-area,
.rex-content-cols,
.rex-widget .rex-widget-field input,
.rex-widget .rex-widget-field select {
	background-color: #fff;
	color: $drk_grey;
}

/*	Back */

.rex-back {
	padding-left: 8px;
	background-image: url(../back.png);
	background-position: 0 4px;
}

/*	Allgemeines */

#sly-wrapper {
	float: right;
	width: 797px;
	padding-bottom: 36px;
	+clearfix;

	> p, .sly-table {
		margin: 0 0 10px 0;
	}
}


/*	Icons */

.rex-i-element-text {
	+hide;
}

/*	Rundungen */
.rex-area {
	+border-radius($brd_rad);
}


/* ----------------------------------------------------------------------------------------------------- */

.rex-hl2 {
	font-size: 1.4em;
	letter-spacing: -0.01em;
	padding: 7px 10px;
	background-color: #4D4646;
	color: #FFFFFF;
	+border-top-radius($brd_rad);
}

.rex-area-col-2 .rex-hl2 {
	width: 94%;
}

.rex-area-content {
	padding: 10px 0;
	+border-bottom-radius($brd_rad);
	background-color: #fff;
	width: 99%;

	h3.rex-hl3, h4.rex-hl3, legend {
		margin: 0 10px 0 10px;
		font-weight: bold;
	}

	h4.rex-h13 { margin: 10px; }

	.rex-tx1, fieldset {
		margin: 0 10px 5px 10px
	}

	.sly-button {
		margin: 0 0 15px 5px;
		line-height: 19px;
	}
}

a.sly-action {
	background-image: url(../sprites.png);
	background-position: left 50%;
	background-repeat: no-repeat;
	padding: 1px 0 1px 18px;

	&.sly-delete { color: red; background-position: -48px -32px; }
}

.sly-strike {
	text-decoration: line-through;
}

.sly-clang-toolbar {
	a.rex-active {
		color: $drk_grey;
	}
}
