.sly-table {
	clear: both;
	width: 100%;
	background-color: #fff;
	border-spacing: 0;
	*border-collapse: collapse; /* hack for IE7 */
	+border-bottom-radius(5px);

	caption {
		+border-top-radius(4px);
		text-align: left;
		background-color: $drk_grey;
		color: #4D4646; /* 'transparant' would be CSS3 and fail in IE */
		border: 1px solid $drk_grey;
		height: 5px;
	}

	th {
		text-align: left;
		color: #fff;
		padding: 4px 0 9px 0px;
		vertical-align: middle;
		background-color: $drk_grey;

		a.sort {
			color: white;
			padding-right: 13px;
			background: url() right center no-repeat;

			&.asc    { background-image: url(../ascending.png); }
			&.desc   { background-image: url(../descending.png); }
			&.nosort { background-image: url(../nosort.png); }
		}
	}

	td {
		height: 40px;
		border-top: 1px dotted $md_grey;
		*position: relative;

		&.rex-colored {
			background-color: $drk_grey;
		}
	}

	.rex-table-row-activ td {
		background-color: $link_color;
		color: #fff;
	}

	.rex-plugin td {
		background-color: #FAF9F5;
	}
}

.sly-table-extras {
	&-pager, &-filter, &-sorting {
		margin-bottom: 1em;
		font-size: 13px;
		line-height: 20px;
	}

	&-pager {
		float: left;

		span, a {
			margin: 0 1px;
			padding: 0 1px;
		}
	}

	&-sorting {
		float: right;
		margin-left: 20px;
	}

	&-filter {
		float: right;

		input { width: 150px; padding: 1px; }
	}
}
