.rex-i- {
	&user     { background-image: url(../user.png);      }
	&user-add { background-image: url(../user_plus.png); }
}

/* Sprites */

.sly-sprite {
	&.sly-user     { background-position: 0 -48px; }
	&.sly-user-add { background-position: 0 -64px; }
}

div#rex-navi-main dl dd ul li#rex-navi-page-user > a {
	background-image: url(../user.png);
	background-position: 5px 5px;
}

#rex-form-user-editmode {
	/* Überschrift | dunkelgrau hinterlegt mit runden Ecken*/
	legend {
		color: #fff;
		background-color: $drk_grey;
		font-size: 1.1em;
		+border-top-radius(4px);
		width: 787px; /* Breite des Loginbereichs abzüglich des padding links*/
		padding: 8px 0 8px 10px;
	}

	.rex-form-notice { margin-left: 145px; line-height: 1.2em; }

	.rex-form {
		&-wrapper {
			background-color: #fff;
			+border-bottom-radius(4px);
			clear: both;
			float: left;
			width: 777px;
			padding: 0 10px;
		}

		&-col-2 {
			.rex-form-col-a {
				width:49%;
				float: left;
			}

			.rex-form-col-b {
				width:49%;
				float: right;
			}
		}

		&-row {
			width: 100%;
			border-top: 1px dotted $md_grey;
		}
	}
}
