RewriteEngine On

RewriteCond   %{REQUEST_FILENAME}  -f
RewriteCond   %{REQUEST_URI}       \.css$
RewriteCond   %{REQUEST_URI}       !wym_styles.css$
RewriteRule   ^(.+)$               scaffold/index.php?f=assets/css/$1&%{QUERY_STRING}