.sly-content-header {
	margin-bottom: 10px;
	+clearfix;

	ul {
		padding: 5px 0; /*  Abstand oben und unten */

		li {
			display: inline;
			margin: 0 0 0 5px; /* Abstand der Listenelemente zu einander, s. Buttons Editier-Modus etc. */
		}
	}
	.sly-navi-slots { float: left; }
	.sly-navi-content { float: right; }

	a {
		background-color: #fff;
		padding: 2px 8px;
		color: #1f9eb5;
		+border-radius(3px);

		&:hover {
			background-color: #b3b3b3;
			color: #fff;
		}

		&.rex-active {
			background-color: $drk_grey;
			color: #fff;

			&:hover { background-color: #b3b3b3; }
		}
	}
}


#rex-page-content .sly-content-editmode {
	input[type=submit] {
		margin-left: 10px;
	}
}

.sly-contentpage {
	&-slice-input,	&-slice-output {
	    background-color: $lt_grey;
		clear: both;
		padding: 10px;
		ol, ul { margin-left: 20px; }
	}
	&-slice-output {
		background-color: #e8e8e8;
		padding: 7px;
		+border-bottom-radius(4px);
		margin: 0 0 10px;
		color: #999;

		h1{ font-size: 2em;   }
		h2 { font-size: 1.6em; }
		h3 { font-size: 1.4em; }
		h4 { font-size: 1.2em; }
		h5 { font-size: 1.1em; }
		h6 { font-size: 1em;   }
	}
}

#editslice,
#addslice {
	margin-top: 10px;
	.rex-form-row {
		background-color: #e8e8e8;
		clear: both;
		border: 0;
		+border-bottom-radius(4px);
		background-color: $md_grey;
		padding-left: 0;
		padding-right: 0;
		width: 797px;
	}
	.rex-form-wrapper {
		margin-bottom: 10px;
	}
}

.sly-form .sly-form-add-slice {
	.rex-form-row {
		border-top: 0;
	}
	.rex-form-wrapper {
		+border-top-radius(4px);
		background-color: #e8e8e8;
		margin-bottom: 10px;
	}
	legend, label { +hide; }
	select.sly-module-select {width: 100%}
}
/*	Editmode */
.sly-slice-toolbar {
	width: 100%;
	line-height: 35px;
	background-color: $drk_grey;
	+border-radius(4px 4px 0 0);
	+clearfix;

	h3 {
		float: left;
		vertical-align: middle;
		color: #fff;
		font-size: 1.1em;
		margin: 0 0 0 10px;
	}

	.sly-slice-actions {
		float: right;
		margin-right: 5px; /* Schiebt die Edit, Delete- und Pfeil-Buttons rein*/
	}
}

.sly-slice-actions li {
	display: block;
	float: left;
	margin-top: 8px;
	margin-left: 2px;

	a {
		display: block;
		color: #fff;
		font-size: 1em;
		height: 20px;
		background-color: $link_color;
		line-height: 20px;
		padding-left: 20px;
		background-repeat: no-repeat;
		+border-radius(3px);

		/* Editbutton auf Artikelseite */
		&.rex-tx3 {
			background-image: url(../background_btn_edit.png);
			background-position: 6px 0;
			width: 60px;

			&:hover {
				background-color: #4bcee4;
			}
		}

		/* L��schen-Button */
		&.rex-tx2 {
			background-image: url(../background_btn_dlt.png);
			background-position: 6px 0;
			width: 55px;

			&:hover {
				background-color: #4bcee4;
			}
		}

		/*  Pfeil-Buttons */
		&.rex-slice-{
			&move-up, &move-down {
				padding: 0px;
				width: 22px;

				&:hover {
					background-color: #4bcee4;
				}
			}

			&move-down {
				background-image: url(../background_btn_down.png);
				background-position: 7px 0;
			}

			&move-up {
				background-image: url(../background_btn_up.png);
				background-position: 7px 0;
			}
		}

	}
}
