.sly-content-header {
	margin-bottom: 10px;
	+clearfix;

	ul {
		padding: 5px 0; /*  Abstand oben und unten */

		li {
			display: inline;
			margin: 0 0 0 5px; /* Abstand der Listenelemente zu einander, s. Buttons Editier-Modus etc. */
		}
	}
	.sly-navi-slots { float: left; }
	.sly-navi-content { float: right; }

	a {
		background-color: #fff;
		padding: 2px 8px;
		color: #1f9eb5;
		+border-radius(3px);

		&:hover {
			background-color: #b3b3b3;
			color: #fff;
		}

		&.rex-active {
			background-color: $drk_grey;
			color: #fff;

			&:hover { background-color: #b3b3b3; }
		}
	}
}

/* add block widget */
.sly-form-add-slice {
	.rex-form-wrapper {
		+border-top-radius(4px);
		background-color: #e8e8e8;
		margin-bottom: 10px;
	}
	legend, label { +hide; }
	select.sly-module-select {width: 100%}
}
/*	Editmode */
.sly-slice-toolbar {
	width: 100%;
	line-height: 35px;
	background-color: $drk_grey;
	+border-radius(4px 4px 0 0);
	+clearfix;

	h3 {
		float: left;
		vertical-align: middle;
		color: #fff;
		font-size: 1.1em;
		margin: 0 0 0 10px;
	}

	.sly-slice-actions {
		float: right;
		margin-right: 5px; /* Schiebt die Edit, Delete- und Pfeil-Buttons rein*/
	}
}
/* slice toolbar */
.sly-slice-actions li {
	display: block;
	float: left;
	margin-top: 8px;
	margin-left: 2px;

	a {
		display: block;
		color: #fff;
		font-size: 1em;
		height: 20px;
		background-color: $link_color;
		line-height: 20px;
		padding-left: 20px;
		background-repeat: no-repeat;
		+border-radius(3px);

		/* Editbutton auf Artikelseite */
		&.rex-tx3 {
			background-image: url(../background_btn_edit.png);
			background-position: 6px 0;
			width: 60px;

			&:hover {
				background-color: #4bcee4;
			}
		}

		/* L��schen-Button */
		&.rex-tx2 {
			background-image: url(../background_btn_dlt.png);
			background-position: 6px 0;
			width: 55px;

			&:hover {
				background-color: #4bcee4;
			}
		}

		/*  Pfeil-Buttons */
		&.rex-slice-{
			&move-up, &move-down {
				padding: 0px;
				width: 22px;

				&:hover {
					background-color: #4bcee4;
				}
			}

			&move-down {
				background-image: url(../background_btn_down.png);
				background-position: 7px 0;
			}

			&move-up {
				background-image: url(../background_btn_up.png);
				background-position: 7px 0;
			}
		}

	}
}


.sly-contentpage-slice-input,
.sly-contentpage-slice-output {
	padding: 0 10px;
	ol, ul { margin-left: 20px; }
}
.sly-contentpage-slice-output {
	background-color: #e8e8e8;
	padding: 7px;
	+border-bottom-radius(4px);
	margin: 0 0 10px;
	color: #999;

	h1{ font-size: 2em;   }
	h2 { font-size: 1.6em; }
	h3 { font-size: 1.4em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1em;   }
}

.sly-contentpage-slice-input {
	
	label, input, select, textarea, .sly-widget {
		margin: 5px 0;
	}
	
	.sly-widget {
		float: left;
		
		input, select {
			margin: 0;
		}
	}
}

/* styling for slice edit submit row */
.sly-contentpage-slice-input + .rex-form-row {
	clear: both;
	border: 0;
	+border-bottom-radius(4px);
	background-color: $md_grey;
	
	input {
		margin-bottom: 0;
	}
}

/* Styling for sly_Forms within modules */
.sly-contentpage-slice-input .sly-form {
	margin-left: -10px;
	width: 779px;

	label, input, select, textarea, .sly-widget {
		margin: 0px;
	}
	
	legend {
		display: none;
	}

	.rex-form-wrapper {
		margin-bottom: 0;
	}

	.rex-form-row {
		padding: 7px 10px;
		width: 777px;

		label {
			margin: inherit;
		}

		input, select, textarea {
			margin: 0;
		}
	}
}
