#sly-page-credits {
	th.sly-col-version,
	th.sly-col-name {
		white-space: pre;
		padding-right: 5px;
		width: 50px;
	}

	.sly-plugin .sly-icon {
		width: 22px;
	}

	.sly-sprite-plugin {
		margin: 0 6px 0 0;
	}
}

#sly-page-credits-bugreport {
	.sly-sysinfo {
		font-family: monospace;
		border: 1px solid $drk_grey;
		padding: 10px;
		width: 757px;
		margin-bottom: -5px;
	}
}
