#rex-linkmap {
	.col-a, .col-b {
		width: 340px;
	}

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		background-repeat: no-repeat;
		line-height: 1;
	}

	/* Category tree */

	.lvl-1 ul {
		padding-left: 15px;
	}

	a {
		background: url(../nodesprite.png) 0 -120px no-repeat;
		display: block;
		padding: 0 0 0 28px;
		line-height: 20px;
	}

	/* basic styles */

	.active          { background-position: 0 -140px; }
	.children        { background-position: 0 -280px; }
	.children.active { background-position: 0 -300px; }

	/* some edge cases */

	.lvl-1.first.empty        { background-position: 0 -80px;  }
	.lvl-1.first.empty.active { background-position: 0 -100px; }

	.lvl-1.first.children        { background-position: 0 -240px; }
	.lvl-1.first.children.active { background-position: 0 -260px; }

	.last.empty        { background-position: 0 -40px; }
	.last.empty.active { background-position: 0 -60px; }

	.last.children        { background-position: 0 -200px; }
	.last.children.active { background-position: 0 -220px; }

	.lvl-1.first.last.empty        { background-position: 0 0; }
	.lvl-1.first.last.empty.active { background-position: 0 -20px; }

	.lvl-1.first.last.children        { background-position: 0 -160px; }
	.lvl-1.first.last.children.active { background-position: 0 -180px; }

	ul ul {
		background: url(../dotted.png) left top repeat-y;
	}

	li:last-child > ul {
		background: none;
	}

	.leaf {
		font-weight: bold;
	}

	/* Articles */

	.articlelist a {
		background-position: 0 -320px;
		padding-left: 17px;

		&.startarticle {
			background-position: 0 -340px;
		}
	}
}
