#sly-linkmap {
	.col-a, .col-b {
		width: 340px;
	}

	.col-b {
		/* in case we have no sly-area, but a info box */
		float: right;
	}

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		background-repeat: no-repeat;
		line-height: 1;
		margin-left: -6px;
	}

	/* Category tree */

	.sly-area {
		ul {
			border-left: 1px dotted $md_grey;
			padding-left: 1px;
		}

		.lvl-1 ul {
			padding-left: 1px;
			margin-left: 19px;
		}

		a, span {
			background: url(../nodesprite.png) 0 -126px no-repeat;
			display: block;
			padding: 0 0 0 28px;
			line-height: 21px;
			height: 21px;
		}

		span {
			color: inherit !important;
		}

		/* basic styles */

		.active          { background-position: 0 -147px; }
		.children        { background-position: 0 -294px; }
		.children.active { background-position: 0 -315px; }

		/* some edge cases */

		.lvl-1.first.empty        { background-position: 0 -84px;  }
		.lvl-1.first.empty.active { background-position: 0 -105px; }

		.lvl-1.first.children        { background-position: 0 -252px; }
		.lvl-1.first.children.active { background-position: 0 -273px; }

		.last.empty        { background-position: 0 -42px; }
		.last.empty.active { background-position: 0 -63px; }

		.last.children        { background-position: 0 -210px; }
		.last.children.active { background-position: 0 -231px; }

		.lvl-1.first.last.empty        { background-position: 0 0; }
		.lvl-1.first.last.empty.active { background-position: 0 -21px; }

		.lvl-1.first.last.children        { background-position: 0 -168px; }
		.lvl-1.first.last.children.active { background-position: 0 -189px; }

		li:last-child {
			background: white;
		}
	}

	.leaf {
		font-weight: bold;
	}

	/* Articles */

	.articlelist {
		ul {
			border-left: 0 none;
		}

		a {
			background-position: 0 -336px;
			padding-left: 17px;

			&.startarticle {
				background-position: 0 -357px;
			}
		}
	}
}
