#rex-page-login {
	#sly-wrapper,
	#sly-footer {
		float: none;
		width: 650px;
		margin-right: auto;
		margin-left: auto;
	}

	.rex-form {
		.rex-form-text input,
		.rex-form-password input {
			width: 250px;
		}

		legend { width: 640px; }

		label { width: 145px; margin-left: 10px; }
		&-wrapper { width: 650px; }
		&-col-a { vertical-align: middle; }
		&-submit { margin: 2px 0 3px 77px; }

		&-row {
			padding: 7px 0;
			width: 650px;
		}
	}
}
