/* general styles for all subpages */

.sly-mediapool {
	.sly-navi-path ul {
		border: 0;
		list-style: none;
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 1em;

		li {
			display: inline;
			font-weight: normal;

			a.sly-active { color: $drk_grey; }
		}
	}

	.sly-form {
		width: 690px;

		td { padding: 5px 0 }

		caption { display: none; }

		.sly-form-wrapper {
			width: 690px;
			padding: 0;
			margin-bottom: 10px;
		}

		.sly-form-row {
			width: 676px;
		}

		fieldset.sly-file-properties {
			.sly-form-wrapper {
				min-height: 90px;
			}
		}

		input[type=text] { width: 400px; }
		select           { width: 407px; }
	}

	.sly-mediapool-list {
		width: 690px;
		margin-bottom: 0 !important;

		td {
			height: auto;
		}

		th {
			background-color: #fff;
			color: $drk_grey;
			font-weight: bold;
			vertical-align: middle;
			border-bottom: 1px dotted $md_grey;
			padding: 6px 0;
		}

		select {
			width: 230px;
		}

		label {
			float: none;
		}

		tfoot td {
			border-top: 1px dotted $md_grey;
		}

		.sly-col-footer input:first-child {
			margin-left: 0;
		}
	}

	.sly-mediapool-detail-image {
		position: relative;
		height: 0;
		border: 0 none;
		padding: 0 7px;

		div {
			position: absolute;
			right: 0;
			top: 0;
			padding: 7px;
			width: 113px;
			text-align: right;

			img {
				max-height: 60px;
				max-width: 113px;
			}
		}
	}

	.sly-mediapool-detail-title {
		border-top: 0 none;
	}
}

/* index page */

#sly-form-mediapool-selectcategory {
	input[type=submit] {
		margin-left: 10px;
	}
}

/* structure management */

#sly-page-mediapool-structure {
	.sly-col-func { width: 150px; }
}

.sly-sprite-mediacat          { background-position: -32px 0;     }
.sly-sprite-mediacat-add      { background-position: -32px -16px; }

#sly-form-mediapool-media {
	.sly-form-wrapper .sly-form-row.sly-num0 {
		padding: 0;
	}

	.sly-form-row {
		width: 690px;
	}
}
