.sly-sprite-article           { background-position: -16px 0;     }
.sly-sprite-article-add       { background-position: -16px -16px; }
.sly-sprite-article-startpage { background-position: -16px -32px; }
.sly-sprite-category          { background-position: -32px 0;     }
.sly-sprite-category-add      { background-position: -32px -16px; }

#sly-page-structure {
	/* total width: 797px */
	.sly-col-icon     { width: 40px;  }
	.sly-col-name     { min-width: 287px; }
	.sly-col-arttype  { min-width: 180px; max-width: 240px; }
	.sly-col-pos      { width: 55px;  }
	.sly-col-status   { width: 155px; }
}
