.sly-sprite-article           { background-position: -16px 0;     }
.sly-sprite-article-add       { background-position: -16px -16px; }
.sly-sprite-article-startpage { background-position: -16px -32px; }
.sly-sprite-category          { background-position: -32px 0;     }
.sly-sprite-category-add      { background-position: -32px -16px; }

#sly-page-structure {
	/* total width: 797px */
	.sly-table {
		+border-radius(0px);
		border: 0;
	}

	.sly-icon { width: 40px;  }
	.id       { width: 40px;  }
	.name     { min-width: 287px; }
	.arttype  { min-width: 180px; max-width: 240px; }
	.pos      { width: 55px;  }
	.status   { width: 155px; }
}
