.sly-sprite {
	&-article           { background-position: -16px 0;     }
	&-article-add       { background-position: -16px -16px; }
	&-article-startpage { background-position: -16px -32px; }
	&-category          { background-position: -32px 0;     }
	&-category-add      { background-position: -32px -16px; }
}

#rex-page-structure {
	.sly-table {
		+border-radius(0px);
		border: 0;
	}
}

#rex-form-structure-category,
#rex-form-structure-article {
	table input[type=submit] {
		margin-left: 0;
	}
}

#sly-form-field-name {
	width: 97%;
}

#sly-form-field-prior {
	width: 87%;
}