.sly-sprite-language     { background-position: 0 -48px; }
.sly-sprite-language-add { background-position: 0 -64px; }

/*	System: Einstellungen */
#sly-page-system {
	.button {
		margin-bottom: 15px;
	}
}

#sly-form-system-caches {
	min-height: 10px; /* compensate missing .button class on cache clear button */

	p {
		display: none;
		padding-bottom: 10px;
	}

	.sly-select-group {
		padding-left: 20px;
	}

	.sly-form-helptext {
		margin-left: 20px;
	}
}

#sly-system-toggle-cache {
	margin-left: 15px;
	color: $md_grey;
}

#sly-form-system-setup {
	.sly-form-wrapper {
		margin: 0;
	}

	.sly-form-row {
		padding: 5px 0;
		width: 375px;
	}

	label          { width: 180px; }
	.sly-form-text { width: 185px; }
	select         { width: 191px; }

	.sly-widget.sly-link {
		input { width: 164px; }

		.sly-icons:last-child {
			display: none;
		}
	}

	.sly-button {
		margin-left: 180px;
		width: auto;
	}
}

/*	System: Sprachen */

#sly-page-system-languages {
	.sly-col-locale { width: 120px; }
	.sly-col-func   { width: 110px; }
}

/* System: Fehlerprotokoll */

#sly-page-system-errorlog {
	.sly-button {
		cursor: pointer;
		margin-left: 0;
		margin: 1em 0;
	}

	.sly-table {
		th { padding-left: 9px; }
		td { padding: 4px; height: auto; }
		.sly-col-date { text-align: right; width: 150px; }
		.sly-col-location, .sly-col-request { padding-left: 34px; }
		em { font-style: italic; }
		.sly-col-where td, .sly-col-request td { border-top: 0 none; }
	}
}
