+global-reset;
+html5-reset;

=hardcore-hidden {
	display: inline !important;
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	width: 0px !important;
	height: 0px !important;
	overflow: hidden !important;
	background-color: $background !important;
}

body {
	font-family: Calibri, Verdana, Arial, sans-serif;
	position: relative;
	margin: 0;
	color: $drk_grey;
	background: #f2f2f2 url(../body.gif) 0 0 repeat-x;;
}

#sly-page {
	width: 1000px;
	margin: 0 auto;
	font-size: 0.9em;
	background-image: url(../website.gif);
	background-repeat: repeat-x;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

input, textarea, select {
	font-size: 100%;
	margin: 0;
	border: 1px solid $lt_grey;
	padding: 0;
	vertical-align: baseline;
	color: $drk_grey;
}

p.rex-button a {
	background-image: url(../button.gif);
	background-repeat: repeat-x;
	padding: 1px 6px;
	color: $drk_grey;
	text-decoration: none;
	border: 1px solid $lt_grey;
	+border-radius($brd_rad);
}

a {
	color: $link_color;
	text-decoration: none;
	&:hover { text-decoration: none; }
}

ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}

img, iframe {
	vertical-align:bottom;
}

/* REX-TITLE --------------------------------------------------------------------------------------- REX-TITLE */
#rex-title {

	margin: 0 0 5px 0;
	background: none;
	height: auto;

	#rex-navi-path{
		border: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 1em;

		li {
			display: inline;
			font-weight: normal;

			a.rex-active {
				color: $drk_grey;
			}
		}

	}

	h1 {
		padding-top: 5px; /* Ausrichtung der Überschrift mit der Navi-Überschrift */
		margin-bottom: 4px; /* Ausrichtung der Überschrift mit der Navi-Überschrift */
		font-weight: normal;
		font-size: 2em;
		height: 35px;
		color: $drk_grey;
		text-shadow: 1px 1px 0px rgba(255,255,255,.8);
	}
	.rex-title-row {
		width: 100%;
		/* gestrichelte Linien über und unter der Pfadangabe */
		&-sub {
			border-top: 1px dotted $md_grey;
			border-bottom: 1px dotted $md_grey;
			padding: 15px 0;
			margin-bottom: 5px;
		}

		&-empty {
			border-bottom: 0;
			padding: 0;
			margin: 0;
			p { display: none; }
		}

		ul li a.rex-active {
			color: $drk_grey;
		}

		/* p = zweite Zeile der Pfadangabe */
		p {
			margin-top: 10px;
		}

	}
}

/* ----------------------------------------------------------------------------------------------------------- */

html > body #sly-navi-main {
	height: auto;
	min-height: 24px;
}

/* REX-OUTPUT -------------------------------------------------------------------------------------- REX-OUTPUT*/

.rex-addon-output {

	padding: 15px;

	h2 {
		color: $drk_grey;
		background: none;
		padding: 0;
		font-size: 1.6em;
		margin: 15px 0 2px 0;
		display: block;
		padding-bottom: 5px;
		border-bottom: 1px dotted $md_grey;
		width: 100%;

	}

	h3 {
		background: none;
		padding: 0;
		font-size: 1.2em;
		margin: 30px 0 0 0;
		display: block;
		padding-bottom: 0;
		border-bottom: 1px dotted $md_grey;
		width: 100%;
	}
}

#rex-wrapper {

	.rex-toolbar {

		background-color: #fff;
		position: relative;
		margin-bottom: 10px;

		&-content {
			margin: 0;
			padding: 10px;

			ul li {
				list-style: none;
				display: inline;
				margin: 0 5px 0 0; /* Abstand der Listenelemente zu einander, s. Sprachen */
			}
		}
	}


} 

/* ----------------------------------------------------------------------------------------------------------- */

.rex-nospace {
	margin: 0;
	padding: 0;
}

.rex-clearer {
	clear: both;
	display: block;
	font-size: 0;
	height: 1px;
	line-height: 0;
	visibility: hidden;
}

.rex-hidden {
	display: inline !important;
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	width: 0px !important;
	height: 0px !important;
	overflow: hidden !important;
	background-color: $background !important;
}

.rex-rvrs {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rex-fl-lft    { float: left; }
.rex-fl-rght   { float: right; }
.rex-algn-lft  { text-align: left; }
.rex-algn-rght { text-align: right; }
.rex-strike    { text-decoration: line-through; }

.rex-code {
	font-size: 1.2em;
	background-color: $drk_grey;
	border: 1px solid #F2353A;
	display: block;
	padding: 10px;
}

.rex-tx {
	&2, &3, &4 { font-weight: bold; }
}

.rex-hl4,
.rex-tx2,
.rex-tx3 {
	font-size: 1.2em;
	font-weight: normal;
}

.rex-tx3 {
	color: #478C44;
}

p.rex-tx1,
p.rex-tx4,
ul.rex-ul1 {
	margin-bottom: 1em;
}

.rex-addon-content {
	h4, p, ul, ol, dl { margin-bottom: 1em; }
	h4 { padding-top: 20px; }
}

ul.rex-ul1 {
	margin-left: 40px;
	li { list-style-type: square; }
}

.rex-addon-content,
.rex-area-content {
	line-height: 1.6;
}

.rex-offline {
	color: $link_color_offline;
}

.rex-info {
	background-image: url(../excla_mark_green.gif);
	background-position: 0% 50%;
	background-color: #209eb5;

	&-block {
		a { color: #fff; }
	}
}

.rex-ok, .rex-online {
	color: $link_color_online;
}

.rex-area-scroll,
.rex-widget {
	background-color: #FFF;
}

.rex-area,
.rex-content-cols,
.rex-widget .rex-widget-field input,
.rex-widget .rex-widget-field select {
	background-color: #fff;
}

.rex-area-footer,
.rex-addon-footer {
	background-color: #D7D6D3;
}

/*	Button - Arrows */
.rex-area-scroll,
.rex-widget {
	border-color: #999;
}

/*	Elemente verstecken ********************************************************
		Hinweis:
			den Elementen nicht die Klasse "rex-hidden" einzeln zuweisen,
			da diese von anderen Layouts eventuell dargestellt werden sollen
*******************************************************************************/

.rex-navi-slice ul li span {
	+hardcore-hidden;
}

.center {
	text-align: center;
}

.rex-me1 {
	margin: 20px 0 20px 0;
}

#sly-footer {
	+clearfix;
}