#rex-website {
	+clearfix;
}

* html #rex-website {
	height: 1%;
}

.sly-content {
	clear: left;
	/* margin-top: 10px; */

	> p {
		margin-bottom: 1em;
		line-height: 15px;
	}
}

/* Sprites */

.sly-sprite {
	background-image: url(../sprites.png);
	background-repeat: no-repeat;
}

img.sly-sprite, a.sly-sprite, span.sly-sprite {
	height: 16px;
	width: 16px;

	span { display: none; }
}

a.sly-sprite, span.sly-sprite {
	display: block;
	margin: 0 auto;
}

.sly-sprite {
	&-article           { background-position: -16px 0;     }
	&-article-add       { background-position: -16px -16px; }
	&-article-startpage { background-position: -16px -32px; }
	&-category          { background-position: -32px 0;     }
	&-category-add      { background-position: -32px -16px; }
}

/**********************************************************************/
/* START CSS_form                                                     */
/**********************************************************************/

/*	Inputs in Table
	- add, edit Category (Structure, Medienpool)
	- add, edit Article (Structure)
*******************************************************************************/

/**********************************************************************/
/* START CSS_component                                                */
/**********************************************************************/

caption, legend {
	&.rex-hidden { display: none; }
}

div.rex-addon-output {
	ol, ul { margin-left: 20px; }
}

/*	REX-MESSAGE -------------------------------------------------------------------------- REX-MESSAGE */

.rex-message {
	clear:both;
	font-weight:700;
	line-height:1em;
	margin-bottom:10px;
	width:100%;

	.rex-info, .rex-warning {
		padding: 8px 0;
		color: #fff;
		background-color: $link_color;;
		background-image: url(../warning.gif);
		background-position: 0% 50%;
		background-repeat: no-repeat;
		+border-radius(4px);
		border: 1px solid #efefef;
		margin-bottom: 0;
	}

	.rex-warning {
		background-color: #b32430;
	}

	span {
		display: block;
		padding: 0 45px;
	}

	&-block {
		clear: both;
		margin-bottom: 10px;
	}

	&-content {
		margin-left: 40px;
		padding: 10px 5px;
		border-left-width: 1px;
		border-left-style: solid;

		ol {
			margin: 0 0 0 20px;
			li { list-style-type: decimal; }
		}

		ul {
			margin: 0 0 0 18px;
			li { list-style-type: square; }
		}
	}
}

/* --------------------------------------------------------------------------------------------------- */

/*	real width = border + padding + width */

.rex-table, .sly-table {
	th, td {
		&.rex-icon, &.rex-small, &.sly-icon, &.sly-small {
			width: 29px;
			text-align: center;
		}

		&.rex-icon, &.sly-icon {
			padding: 0;
		}

		&.rex-colz { width: 153px; }
	}

	tr:first-child td { border-top: none; }
}

/*	Allgemeiner Block (Addon Hilfeseiten) / Addon Seiten */

.rex-area, /* Schön, dass hier das -output fehlt... */
.rex-addon-output {
	float: left;
	width: 100%;
}

.rex-area,
.rex-addon {
	&-footer {
		padding: 7px 5px;
		font-weight: bold;
	}
}

/*	Spaltigkeit */                                                 /* *lol* :) */

.rex-area-col,
.rex-addon-col {
	&-2 {
		+clearfix;
		position: relative;
		width: 100%;
	}

	&-a, &-b {
		float: left;
		width: 50%;
	}

	&-b {
		float: right;

		.rex-hl2, .rex-area-content {
			float: right;
		}
	}
}

/*	Widget */

.rex-widget {
	float: left;
	margin-bottom: 10px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	+border-radius($brd_rad);

	.rex-widget-icons {
		padding: 2px 0 0 10px;
	}

	&-linklist, &-medialist {
		p.rex-widget-icons img { margin-bottom: 2px; }
	}
}

/*	Breite war von "div.rex-form div.rex-form-row p" */

#rex-output .rex-widget p {
	width: auto;
	float: left;
}

/*	Icons */

.rex-i-element {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	text-indent: -1000em;
}

/* Grau - Dunkel */

#rex-clang ul li a.rex-active {
	color: $drk_grey;
}

.rex-tx3 { color: #188D12; } /* Grün */
.rex-tx2 { color: #AF112F; } /* Rot */

/* Schriftarten */

input, textarea, select {
	font-family: Calibri, Arial, Verdana, sans-serif;
}

.rex-area-footer,
.rex-addon-footer{
	background-color: $drk_grey;
}

.rex-area,
.rex-addon-output,
.rex-content-cols,
.rex-widget .rex-widget-field input,
.rex-widget .rex-widget-field select {
	background-color: #fff;
	color: $drk_grey;
}

/*	Back */

.rex-back {
	padding-left: 8px;
	background-image: url(../back.gif);
	background-position: 0 4px;
}

/*	Allgemeines */

#rex-wrapper {
	clear: none;
	float: right;
	width: 797px;
	padding-bottom: 36px;
}

/*	Sprachen, Content (Editiermodus, Metadaten, Anzeigen) */

.rex-addon-col-a,
.rex-addon-col-b {
	float: none;
	width: 100%;
}


/*	Icons */

.rex-i-element-text {
	display: inline !important;
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	width: 0px !important;
	height: 0px !important;
	overflow: hidden !important;
	background-color: #FFF !important;
}

/*	Extras */

#rex-redaxo-link {
	position: absolute;
	left: 0;
	top: 0px;
	width: 200px;

	a {
		display: block;
		width: 200px;
		height: 75px;
		text-indent: -1000em;
	}
}

/*	Rundungen */
.rex-area,
.rex-addon-output,
.rex-info-block,
#rex-output .rex-toolbar {
	+border-radius($brd_rad);
	/* border: 1px solid #efefef; */ /* kaum sichtbar, erzeugt aber abgerundete Ecken */
}

.rex-addon-output .rex-area {
	+border-radius(0px);
	border: 0;
}

.rex-area-col-2,
.rex-addon-col-2 {
	position: static;
}

.rex-addon-output {
	margin-bottom: 10px;
}

/* ----------------------------------------------------------------------------------------------------- */

.rex-hl2 {
	font-size: 1.4em;
	letter-spacing: -0.01em;
	padding: 7px 10px;
	background-color: #4D4646;
	color: #FFFFFF;
	+border-top-radius($brd_rad);
}

.rex-area-col-2 .rex-hl2 {
	width: 94%;
}

.rex-area-content {
	padding: 10px 0;
	+border-bottom-radius($brd_rad);
	background-color: #fff;
	width: 99%;

	h3.rex-hl3, h4.rex-hl3, legend {
		margin: 0 10px 0 10px;
		font-weight: bold;
	}

	h4.rex-h13 { margin: 10px; }

	.rex-tx1, fieldset {
		margin: 0 10px 5px 10px
	}

	.sly-button {
		margin: 0 0 15px 5px
	}
}

a.sly-action {
	background-image: url(../sprites.png);
	background-position: left 50%;
	background-repeat: no-repeat;
	padding: 1px 0 1px 18px;

	&.sly-delete { color: red; background-position: -48px -32px; }
}

.sly-strike {
	text-decoration: line-through;
}
