RewriteEngine On

# Imageresize

RewriteRule ^imageresize/(.*)$  index.php?rex_resize=$1 [L]

# Backend-Assets

RewriteRule media/(.+)\.css$ scaffold.php?f=sally/media/$1.css [L]

# Hilfsregeln, um von Scaffold-Dateien direkt auf Assets zugreifen zu können

RewriteRule ^scaffold/(.+)/(.+)/(.+)\.(jpg|png|gif|jpeg)$  ../data/dyn/public/$1/$2/images/$3.$4 [L]
RewriteRule ^scaffold/(.+)/(.+)/(.+)\.js$                  ../data/dyn/public/$1/$2/js/$3.js [L]
RewriteRule ^scaffold/(.+)/(.+)\.(jpg|png|gif|jpeg)$       ../data/dyn/public/$1/images/$2.$3 [L]
RewriteRule ^scaffold/(.+)/(.+)\.js$                       ../data/dyn/public/$1/images/$2.js [L]

RewriteRule ^images/(.+)/(.+)/(.*?)$        ../data/dyn/public/$1/$2/images/$3 [L]
RewriteRule ^css/(.+)/(.+)/(.+)$            ../data/dyn/public/$1/$2/css/$3 [L]
RewriteRule ^js/(.+)/(.+)/(.+)$             ../data/dyn/public/$1/$2/js/$3 [L]
RewriteRule ^scaffold/(.+)/(.+)/(.+)\.css$  scaffold.php?f=data/dyn/public/$1/$2/css/$3.css [L]

RewriteRule ^images/(.+)/(.*?)$        ../data/dyn/public/$1/images/$2 [L]
RewriteRule ^css/(.+)/(.+)$            ../data/dyn/public/$1/css/$2 [L]
RewriteRule ^js/(.+)/(.+)$             ../data/dyn/public/$1/js/$2 [L]
RewriteRule ^scaffold/(.+)/(.+)\.css$  scaffold.php?f=data/dyn/public/$1/css/$2.css [L]
