#rex-website:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#rex-website {
	display: inline-block;
}

* html #rex-website {
	height: 1%;
}

#rex-website {
	display: block;
}

div.sly-content {
	clear: left;
	/* margin-top: 10px; */

	> p {
		margin-bottom: 1em;
		line-height: 15px;
	}
}

/* Sprites */

.sly-sprite {
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}

img.sly-sprite {
	height: 16px;
	width: 16px;
}

span.sly-sprite {
	height: 20px;
	width: 20px;
	text-align: left;
	float: left;
	text-indent: -999em;
	display: block;
}

/**********************************************************************/
/* START CSS_form                                                     */
/**********************************************************************/

/*	Inputs in Table
	- add, edit Category (Structure, Medienpool)
	- add, edit Article (Structure)
*******************************************************************************/

/**********************************************************************/
/* START CSS_component                                                */
/**********************************************************************/

caption, legend {
	&.rex-hidden { display: none; }
}

div.rex-addon-output {
	ol, ul { margin-left: 20px; }
}

/*	REX-MESSAGE -------------------------------------------------------------------------- REX-MESSAGE */

div.rex-message {
	clear:both;
	font-weight:700;
	line-height:1em;
	margin-bottom:10px;
	width:100%;

	.rex-info, .rex-warning {
		padding: 8px 0;
		color: #fff;
		background-color: $link_color;;
		background-image: url(../warning.gif);
		background-position: 0% 50%;
		background-repeat: no-repeat;
		+border-radius(4px);
		border: 1px solid #efefef;
		margin-bottom: 0;
	}

	.rex-warning {
		background-color: #b32430;
	}

	span {
		display: block;
		padding: 0 45px;
	}

	&-block {
		clear: both;
		margin-bottom: 10px;
	}

	&-content {
		margin-left: 40px;
		padding: 10px 5px;
		border-left-width: 1px;
		border-left-style: solid;

		ol {
			margin: 0 0 0 20px;
			li { list-style-type: decimal; }
		}

		ul {
			margin: 0 0 0 18px;
			li { list-style-type: square; }
		}
	}
}

/* --------------------------------------------------------------------------------------------------- */

/*	real width = border + padding + width */

table.rex-table, table.sly-table {
	th, td {
		&.rex-icon, &.rex-small, &.sly-icon, &.sly-small {
			width: 29px;
			text-align: center;
		}

		&.rex-icon, &.sly-icon {
			padding: 0;
		}

		&.rex-colz { width: 153px; }
	}
}



/*	Allgemeiner Block (Addon Hilfeseiten) / Addon Seiten */

div.rex-area, /* Schön, dass hier das -output fehlt... */
div.rex-addon-output {
	float: left;
	width: 100%;
}

div.rex-area,
div.rex-addon {
	&-footer {
		padding: 7px 5px;
		font-weight: bold;
	}
}

/*	Spaltigkeit */                                                 /* *lol* :) */

div.rex-area-col,
div.rex-addon-col {
	&-2 {
		position: relative;
		float: left;
		width: 100%;
	}

	&-a, &-b {
		float: left;
		width: 50%;
	}

	&-b {
		float: right;
	}
}

/*	Widget */

div.rex-widget {
	float: left;
	margin-bottom: 10px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}

/*	Breite war von "div.rex-form div.rex-form-row p" */

div#rex-output div.rex-widget p {
	width: auto;
}

div.rex-widget {

	p.rex-widget-icons {
		padding: 2px 0 0 10px;
	}

	&-linklist, &-medialist {
		p.rex-widget-icons img { margin-bottom: 2px; }
	}
}

/*	Icons */

.rex-i-element {
	display: block;
	width: 18px;
	height: 18px;
	margin: -5px auto 0 auto;
	text-indent: -1000em;
}

/* Grau - Dunkel */

div#rex-clang ul li a.rex-active {
	color: $drk_grey;
}

.rex-tx3 { color: #188D12; } /* Grün */
.rex-tx2 { color: #AF112F; } /* Rot */

/* Schriftarten */

input, textarea, select {
	font-family: Calibri, Arial, Verdana, sans-serif;
}

div.rex-area-footer,
div.rex-addon-footer{
	background-color: $drk_grey;
}

div#rex-header p.rex-header-top,
div.rex-area,
div.rex-addon-output,
div.rex-content-cols,
div.rex-widget p.rex-widget-field input,
div.rex-widget p.rex-widget-field select {
	background-color: #fff;
	color: $drk_grey;
}

/*	Back */

a.rex-back {
	padding-left: 8px;
	background-image: url(../back.gif);
	background-position: 0 4px;
}

/*	Allgemeines */

div#rex-wrapper {
	clear: none;
	float: right;
	width: 797px;
	padding-bottom: 36px;
}

/*	Sprachen, Content (Editiermodus, Metadaten, Anzeigen) */

div {
	&.rex-addon-col-a,
	&.rex-addon-col-b {
		float: none;
		width: 100%;
	}
}

/*	Icons */

.rex-i-element-text {
	display: inline !important;
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	width: 0px !important;
	height: 0px !important;
	overflow: hidden !important;
	background-color: #FFF !important;
}

/*	Extras */

div#rex-redaxo-link {
	position: absolute;
	left: 0;
	top: 0px;
	width: 200px;

	a {
		display: block;
		width: 200px;
		height: 75px;
		text-indent: -1000em;
	}
}

/*	Rundungen */
div.rex-area,
div.rex-addon-output,
div.rex-info-block,
div#rex-output div.rex-toolbar {
	+border-radius($brd_rad);
	/* border: 1px solid #efefef; */ /* kaum sichtbar, erzeugt aber abgerundete Ecken */
}

div.rex-addon-output div.rex-area {
	+border-radius(0px);
	border: 0;
}

div.rex-area-col-2,
div.rex-addon-col-2 {
	position: static;
}

div.rex-addon-output {
	margin-bottom: 10px;
}

/* ----------------------------------------------------------------------------------------------------- */

.rex-hl2 {
	font-size: 1.4em;
	letter-spacing: -0.01em;
	padding: 7px 10px;
	background-color: #4D4646;
	color: #FFFFFF;
	+border-top-radius($brd_rad);
}

div.rex-area-col-2 .rex-hl2 {
	width: 93%;
}

.rex-area-content {
	padding: 10px 0;
	+border-bottom-radius($brd_rad);
	background-color: #fff;
	width: 98%;

	h3.rex-hl3, h4.rex-hl3, legend {
		margin: 0 10px 0 10px;
		font-weight: bold;
	}

	h4.rex-h13 { margin: 10px; }

	.rex-tx1, fieldset {
		margin: 0 10px 5px 10px
	}

	.rex-button {
		margin: 0 0 15px 5px
	}
}
